<?php echo $this->doctype(); ?>
<?php
/**
 * @var \Application\View\Renderer $this
 */
?>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <?php echo $this->headTitle('Engage main page')->setSeparator(' - ')->setAutoEscape(false); ?>

    <!-- Le styles -->
    <?php echo $this->headLink(
        [
            'rel' => 'shortcut icon',
            'type' => 'image/vnd.microsoft.icon',
            'href' => $this->basePath('/img/favicon.ico')
        ]
    )
        ->appendStylesheet($this->basePath('/themes/admin/plugins/materialize/css/materialize.min.css'))
        ->appendStylesheet($this->basePath('/themes/admin/plugins/metrojs/MetroJs.min.css'))
        ->appendStylesheet($this->basePath('/themes/admin/plugins/datatables/css/jquery.dataTables.min.css'))
        ->appendStylesheet($this->basePath('/themes/admin/plugins/dropzone/dropzone.min.css'))
        ->appendStylesheet($this->basePath('/themes/admin/plugins/dropzone/basic.min.css'))
        ->appendStylesheet($this->basePath('/themes/admin/css/alpha.min.css'))
        ->appendStylesheet($this->basePath('/themes/admin/css/custom.css'))
        ->appendStylesheet($this->basePath('/themes/admin/css/flexstrap.min.css'))
        ->appendStylesheet($this->basePath('/themes/admin/plugins/simditor/styles/simditor.css'))
        ->appendStylesheet($this->basePath('/themes/admin/plugins/bootstrap-fileinput/css/fileinput.css'));
    ?>

    <!-- Scripts -->
    <?php echo $this->headScript()
        ->appendFile($this->basePath('/themes/admin/plugins/jquery/jquery-2.2.0.min.js'))
        ->appendFile($this->basePath('/themes/admin/plugins/materialize/js/materialize.min.js'))
        ->appendFile($this->basePath('/themes/admin/plugins/material-preloader/js/materialPreloader.min.js'))
        ->appendFile($this->basePath('/themes/admin/plugins/jquery-blockui/jquery.blockui.js'))
        ->appendFile($this->basePath('/themes/admin/js/alpha.min.js'))
        ->appendFile($this->basePath('/themes/admin/plugins/datatables/js/jquery.dataTables.min.js'))
        ->appendFile($this->basePath('/themes/admin/js/pages/table-data.js'))
        ->appendFile($this->basePath('/themes/admin/js/pages/form_elements.js'))
        ->appendFile($this->basePath('/themes/admin/plugins/simditor/scripts/module.js'))
        ->appendFile($this->basePath('/themes/admin/plugins/simditor/scripts/hotkeys.js'))
        ->appendFile($this->basePath('/themes/admin/plugins/simditor/scripts/uploader.js'))
        ->appendFile($this->basePath('/themes/admin/plugins/tinyMCE/tinymce.min.js'))
        ->appendFile($this->basePath('/themes/admin/js/custom.js?v=1'))
        ->appendFile($this->basePath('/themes/admin/plugins/dropzone/dropzone.min.js'))
        ->appendFile($this->basePath('/themes/admin/plugins/dropzone/dropzone-amd-module.min.js'))
        ->appendFile($this->basePath('/themes/admin/plugins/bootstrap-fileinput/js/plugins/sortable.min.js'))
        ->appendFile($this->basePath('/themes/admin/plugins/bootstrap-fileinput/js/plugins/purify.min.js'))
        ->appendFile($this->basePath('/themes/admin/plugins/bootstrap-fileinput/js/fileinput.min.js'))
        ->appendFile($this->basePath('/js/engage.fileinput.js'))
        ->appendFile($this->basePath('/themes/admin/plugins/jquery/jquery-ui.min.js'))
//        ->appendFile($this->basePath('/themes/admin/js/plugins/angular.min.js'))
    ?>
</head>
<body data-ng-app="engage" data-ng-controller="mainController">
<?php echo $this->partial('backend/elements/loader'); ?>
<?php echo $this->partial('backend/elements/header'); ?>
<div class="mn-content fixed-sidebar">
    <?php echo $this->aepNavigation()->getLeftMenuBackend('backend/menu/left_menu_backend'); ?>
    <?php echo $this->content; ?>
    <?php echo $this->partial('backend/elements/footer'); ?>
</div>
<div class="left-sidebar-hover"></div>
</body>
</html>