<?php
/**
 * @var \Application\View\Renderer $this
 * @var \Zend\Navigation\Page\AbstractPage $page
 */
foreach ($this->container as $page):
    if ($this->navigation()->accept($page)): ?>
        <?php
        $children = $page->getPages();
        $customProperties = $page->getCustomProperties();
        $renderSubMenu = isset($customProperties['render-subMenu']) ? $customProperties['render-subMenu'] : true;
        $renderSubMenu &= (count($children) > 0) & (!empty($children));
        ?>
        <li <?php if ($renderSubMenu) {echo 'data-uk-dropdown="{justify:\'#navbar-site\'}"';}?>>
            <a href="<?php if ($page->getHref()){echo $page->getHref();} else {echo '#';}?>"><?php echo $page->getLabel();?></a>
            <?php if ($renderSubMenu):?>
                <div>
                    <div>
                        <?php for ($i = 1; $i<=3; $i++):?>
                            <div>
                                <ul>
                                    <?php foreach ($page->getPages() as $pageSecond):
                                        if ($this->navigation()->accept($pageSecond)): ?>
                                            <?php if ($pageSecond->column == $i):?>
                                                <?php if ($pageSecond->getId() == 'products_informers'):?>
                                                    <li></li>
                                                <?php endif;?>
                                                <li>
                                                    <?php if ($pageSecond->getHref()):?>
                                                        <a href="<?php echo $pageSecond->getHref(); ?>">
                                                    <?php endif; ?>

                                                        <?php echo $pageSecond->getLabel()?>

                                                    <?php if ($pageSecond->getHref()):?>
                                                        </a>
                                                    <?php endif; ?>
                                                </li>
                                                <?php foreach ($pageSecond->getPages() as $pageThird):
                                                    if ($this->navigation()->accept($pageThird)): ?>
                                                        <li>
                                                            <?php echo $this->navigation()->menu()->htmlify($pageThird); ?>
                                                        </li>
                                                    <?php endif;
                                                endforeach; ?>
                                            <?php endif; ?>
                                        <?php endif;
                                    endforeach; ?>
                                </ul>
                            </div>
                        <?php endfor;?>
                    </div>
                </div>
            <?php endif;?>
        </li>
    <?php endif;
endforeach; ?>