<?php
/**
 * @var \Application\View\Renderer $this
 */

use Application\Entity\Course\Item\State;

$this->headTitle('Item create');

$form->get('type')->setValueOptions(
    $this->selectOptionsHelper()->getIssueTypeValues()
);

$form->get('chapter')->setValueOptions(
    $this->selectOptionsHelper()->getAllCourses()
);

$form->get('image')->setAttributes([
    'class'=>'file-loading',
    'multiple'=>false,
]);

$form->get('document')->setAttributes([
    'class'=>'file-loading',
    'multiple'=>false,
]);

//$form->get('chapter')->setValueOptions(
//    $this->selectOptionsHelper()->getAllCurses()
//);

$form->get('state')->setValueOptions([
    State::ACTIVE => 'Active',
    State::INACTIVE => 'Inactive',
]);

$form->get('submit')->setAttributes([
    'class' => 'waves-effect waves-light btn green m-b-xs',
])->setValue('Save');

$form->prepare();
?>

<?php echo $this->partial('backend/course/item/form'); ?>

                <div class="card select-tab-content" id="video"
                     style="display: <?php echo $form->get('type')->getValue() == 'video' ? 'block' : 'none'; ?>">
                    <div class="card-content">
                        <span class="card-title">Media</span>
                        <div class="flex-1em child-col-sm-12 child-col-md-12 child-col-xs-12">
                            <div class="file-field input-field">
                                <div class="flex-1em space-between">
                                    <div>
                                        <div class="btn teal lighten-1">
                                            <span><?php echo $form->get('video')->getLabel(); ?></span>
                                            <?php echo $this->formElement($form->get('video')); ?>
                                            <?php echo $this->formElementErrors($form->get('video')); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card select-tab-content" id="image"
                     style="display: <?php echo $form->get('type')->getValue() == 'image' ? 'block' : 'none'; ?>">
                    <div class="card-content">
                        <span class="card-title"><?php echo $form->get('image')->getLabel(); ?></span>
                        <div class="pb-1em text-center">
                            <?php echo $this->formElement($form->get('image_file')); ?>
                            <?php echo $this->formElement($form->get('image')); ?>
                            <?php echo $this->formElementErrors($form->get('image_file')); ?>
                            <?php echo $this->formElementErrors($form->get('image')); ?>
                        </div>
                    </div>
                </div>


                <div class="card select-tab-content" id="quizz" style="display: none;">
                    <div class="card-content">
                        <span class="card-title">Quizz</span>
                        <div class="child-mb-0_5em" id="quizz-table">
                            <div class="block-green-with-hover">
                                <div class="flex-1em space-between items-center">
                                    <div>Item 1</div>
                                    <div>
                                        <a class="btn-floating waves-effect waves-light size-0_7em show-on-hover modal-trigger" href="#edit">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                        <a class="btn-floating waves-effect waves-light red size-0_7em show-on-hover modal-trigger ml-0_5em" href="#confirm">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-lightgrey-with-hover">
                                <div class="flex-1em space-between items-center">
                                    <div>Item 2</div>
                                    <div>
                                        <a class="btn-floating waves-effect waves-light size-0_7em show-on-hover modal-trigger" href="#edit">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                        <a class="btn-floating waves-effect waves-light red size-0_7em show-on-hover modal-trigger ml-0_5em" href="#confirm">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-lightgrey-with-hover">
                                <div class="flex-1em space-between items-center">
                                    <div>Item 3</div>
                                    <div>
                                        <a class="btn-floating waves-effect waves-light size-0_7em show-on-hover modal-trigger" href="#edit">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                        <a class="btn-floating waves-effect waves-light red size-0_7em show-on-hover modal-trigger ml-0_5em" href="#confirm">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-lightgrey-with-hover">
                                <div class="flex-1em space-between items-center">
                                    <div>Item 4</div>
                                    <div>
                                        <a class="btn-floating waves-effect waves-light size-0_7em show-on-hover modal-trigger" href="#edit">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                        <a class="btn-floating waves-effect waves-light red size-0_7em show-on-hover modal-trigger ml-0_5em" href="#confirm">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2em flex-0_5em flex-end">
                            <div>
                                <a class="waves-effect waves-light btn green m-b-xs modal-trigger" href="#add-quizz">Add</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card select-tab-content" id="document"
                     style="display: <?php echo $form->get('type')->getValue() == 'document' ? 'block' : 'none'; ?>">
                    <div class="card-content">
                        <span class="card-title"><?php echo $form->get('document')->getLabel(); ?></span>
                        <div class="pb-1em text-center">
                            <?php echo $this->formElement($form->get('document_file')); ?>
                            <?php echo $this->formElement($form->get('document')); ?>
                            <?php echo $this->formElementErrors($form->get('document_file')); ?>
                            <?php echo $this->formElementErrors($form->get('document')); ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Item options</span>

                        <div>
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('name')); ?>
                                <?php echo $this->formLabel($form->get('name')); ?>
                                <?php echo $this->formElementErrors($form->get('name')); ?>
                            </div>
                            <div class="input-field">
                                <div class="input-field">
                                    <?php echo $this->formElement($form->get('description')); ?>
                                    <?php echo $this->formLabel($form->get('description')); ?>
                                    <?php echo $this->formElementErrors($form->get('description')); ?>
                                </div>
                            </div>
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('type')); ?>
                                <?php echo $this->formLabel($form->get('type')); ?>
                            </div>
                            <div class="input-field">
                                <div class="input-field">
                                    <?php echo $this->formElement($form->get('isFree')); ?>
                                    <?php echo $this->formLabel($form->get('isFree')); ?>
                                    <?php echo $this->formElementErrors($form->get('isFree')); ?>
                                </div>
                            </div>
                            <div class="input-field">
                                <div class="input-field">
                                    <?php echo $this->formElement($form->get('startDate')); ?>
                                    <?php echo $this->formLabel($form->get('startDate')); ?>
                                    <?php echo $this->formElementErrors($form->get('startDate')); ?>
                                </div>
                            </div>
                            <div class="input-field mt-3em">
                                <?php echo $this->formElement($form->get('state')); ?>
                                <?php echo $this->formLabel($form->get('state')); ?>
                            </div>
                        </div>
                        <div>
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('description')); ?>
                                <?php echo $this->formElementErrors($form->get('description')); ?>
                            </div>
                        </div>
                        <div class="pt-2em flex-0_5em flex-end">
                            <div>
                                <?php echo $this->formElement($form->get('submit')); ?>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</main>

<?php
$previewArr = (isset($item) && $item) ? $this->item($item)->getItemPreviewS3Files($form) : ['video' => [], 'audio' => [], 'image' => [], 'document' => []];
?>
<script>
    $(function(){
        $.fileInputEngage.initBackend({
            selector : "input#video_file",
            valueInputSelector : "input#video",
            previewArr : <?= \GuzzleHttp\json_encode($previewArr['video']) ?>
        });
        $.fileInputEngage.initBackend({
            selector : "input#image_file",
            previewArr : <?= \GuzzleHttp\json_encode($previewArr['image']) ?>
        });
        $.fileInputEngage.initBackend({
            selector : "input#document_file",
            valueInputSelector : "input#document",
            previewArr : <?= \GuzzleHttp\json_encode($previewArr['document']) ?>
        });
    });
</script>