<?php foreach ($socialAccounts as $account): ?>
    <?php $socialInfo = $this->social($account)->getSocialInfo(); ?>
    <div class="p-1_5em br-bottom-2 br-light-gray">
        <div class="flex-1em space-between items-center">
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="flex center-xs items-center">
                    <div class="pr-1_2em pb-1em-xs">
                        <img src="<?= $this->basePath($socialInfo['iconImgSrc']) ?>" alt="" >
                    </div>
                    <div class="size-1_2em f-bold c-black"><?= $socialInfo['textLink'] ?></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <?php $routeConnect = $socialInfo['connected'] ? 'frontend/socialdisconnect' : 'frontend/social'; ?>
                <a href="<?php echo $this->url(
                    $routeConnect,
                    [
                        'provider' => $socialInfo['provider']
                    ]
                ) ?>" class="w100 button button-green-out <?php echo !$socialInfo['connected'] ?  "button-connect-".$socialInfo['provider'] : ""; ?>">
                    <?= $socialInfo['connected'] ? "Disconnect" : "Connect"; ?>
                </a>
            </div>
        </div>
    </div>
<?php endforeach; ?>

<script type="text/javascript">
    jQuery(function($) {
        $(".button-connect-facebook").eauth({"popup":{"width":585,"height":290},"id":"facebook"});
        $(".button-connect-google").eauth({"popup":{"width":585,"height":290},"id":"google"});
    });
</script>
