<?php
/**
 * @var \Application\View\Renderer $this
 */
?>
<section class="pt-5em-sm pt-4em-xs pb-3em-sm pb-2em-xs">
    <div class="container">
        <div class="flex-1em size-0_8em-sm size-1em-md">
            <?php echo $this->aepNavigation()->getPersonalOfficeLeftMenu('frontend/menu/professor_left_menu'); ?>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="flex-1em items-center pb-2em">
                    <div class="flex items-center nowrap">
                        <div class="lh-1em size-1_2em">
                            <em class="fa fa-bookmark-o fa-2x c-green" aria-hidden="true"></em>
                        </div>
                        <div class="pl-2em c-green lh-1_8em">
                            <div class="size-1_4em">
                                <?php echo $this->aepNavigation()->getBreadCrumbs(); ?>
                                <span class="up">Chapters</span> / Create chapter
                            </div>
                        </div>
                    </div>
                </div>
                <?php echo $this->partial('personal-office/chapter/form'); ?>
            </div>
        </div>
    </div>
</section>