<?php
/**
 * @var \Application\View\Renderer $this
 */

$this->headTitle('Chapter create');
$form->prepare();
?>

<?php echo $this->form()->openTag($form); ?>
<div class="br-2 br-light-gray p-2em mb-2em">
    <div class="col-xs-12 col-sm-12 mb-2em">
        <div class="size-1em c-grey-input f-bold">
            <?php echo $form->get('name')->getLabel(); ?>
        </div>
        <div class="input-field input-profile">
            <?php echo $this->formElement($form->get('name')); ?>
            <?php echo $this->formElementErrors($form->get('name')); ?>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 mb-2em">
        <div class="size-1em c-grey-input f-bold">
            <?php echo $form->get('description')->getLabel(); ?>
        </div>
        <div class="input-field">
            <?php echo $this->formElement($form->get('description')); ?>
            <?php echo $this->formElementErrors($form->get('description')); ?>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 mb-2em">
        <div class="size-1em c-grey-input f-bold">
            <?php echo $form->get('state')->getLabel(); ?>
        </div>
        <div class="input-field">
            <?php echo $this->formElement($form->get('state')); ?>
            <?php echo $this->formElementErrors($form->get('state')); ?>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 text-right">
        <?php echo $this->formElement($form->get('submit')); ?>
    </div>
</div>
<?php echo $this->form()->closeTag(); ?>
