<?php
/**
 * @var \Application\View\Renderer $this
 * @var \Application\Entity\Course\Chapter $chapter
 */
?>
<section class="pt-5em-sm pt-4em-xs pb-3em-sm pb-2em-xs">
    <div class="container">
        <div class="flex-1em size-0_8em-sm size-1em-md">
            <div class="col-xs-12 col-sm-8 col-md-12">
                <div class="flex-1em items-center pb-2em">
                    <div class="flex items-center nowrap">
                        <div class="lh-1em size-1_2em">
                            <em class="fa fa-bookmark-o fa-2x c-green" aria-hidden="true"></em>
                        </div>
                        <div class="pl-2em c-green lh-1_8em">
                            <div class="size-1_4em">
                                <?php echo $this->aepNavigation()->getBreadCrumbs(); ?>
                                <span class="up">Chapters</span> / Create chapter
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-1em">
                    <div class="size-1_4em c-black f-semi-bold">Issues</div>
                </div>
                <?php if ($allChapters) { ?>
                <div class="child-mb-2em size-0_8em-xs size-1em-sm" id="sortItems">
                    <?php foreach ($allChapters as $chapter) { ?>
                    <div class="br-2 br-light-gray p-2em panel-sortable"
                         data-id="<?php echo $chapter->getIdentity(); ?>">
                        <div class="flex-0_5em space-between nowrap">
                            <div class="flex items-center nowrap">
                                <div class="size-1_4em lh-1em pr-1em c-lightgrey"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                                <div class="size-1em f-semi-bold">
                                    <a href="#"><span class="c-black">
                                        <?php echo $chapter->getName(); ?>
                                    </a>
                                </div>
                            </div>
                            <div class="flex items-center lh-1em nowrap">
                                <div class="size-1_4em pr-1em">
                                    <a href="<?php echo $this->url('personal-office/chapter/update', [
                                                'id' => $chapter->getIdentity()
                                        ]); ?>">
                                        <i class="fa fa-pencil-square c-lightgrey" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="size-1_4em pr-1em">
                                    <a class="post-delete" href="<?php echo $this->url('personal-office/chapter/delete', [
                                        'id' => $chapter->getIdentity()
                                    ]); ?>">
                                        <i class="fa fa-trash-o c-lightgrey" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="size-1_4em sort-handle">
                                    <a href="#">
                                        <i class="fa fa-bars c-lightgrey" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php } ?>
                </div>
                <?php } ?>
            </div>
        </div>
    </div>
</section>

<script>
    var sortable_table = {
        init: function(url){
            $('#sortItems').sortable({
                forcePlaceholderSize: true,
                forceHelperSize: true,
                items: '.panel-sortable',
                handle: '.sort-handle',
                cancel: 'input, button',
                update : function (event, ui) {
                    serial = $('#sortItems').sortable('serialize');
                    $.ajax({
                        'url': url,
                        'type': 'post',
                        'data': {'id': ui.item.data('id'), 'position': ui.item.index()},
                        'success': function(data){
                        },
                        'error': function(request, status, error){
                            alert('We are unable to set the sort order at this time.  Please try again in a few minutes.');
                        }
                    });
                },
            });
        }
    }
    sortable_table.init("<?php echo $this->url(
        'personal-office/chapter/sort',
        [
            'id' => $courseId
        ]
    ) ?>");

    $('.post-delete').on('click', function(e){
        e.stopPropagation();
        self = $(this);
        if(!confirm("Are you sure you want to delete this chapter?")) return false;
        $.ajax({
            'url': jQuery(this).attr('href'),
            'type': 'post',
            'success': function(data) {
                self.closest('.panel-sortable').hide();
            },
        });
        return false;
    });
</script>
