<aside id="slide-out" class="side-nav white fixed">
    <div class="side-nav-wrapper">
        <div class="sidebar-profile">
            <div class="sidebar-profile-image">
                <img src="<?php echo $this->basePath('/themes/admin/images/profile-image.png') ?>" class="circle" alt="">
            </div>
            <div class="sidebar-profile-info">
                <div>
                    <p><?php echo $this->authIdentity()->getFullName(); ?></p>
                    <span><?php echo $this->authIdentity()->getEmail(); ?></span>
                </div>
            </div>
        </div>
        <ul class="sidebar-menu collapsible collapsible-accordion" data-collapsible="accordion">
            <li class="no-padding">
                <a class="waves-effect waves-grey" href="/backend/"><i class="material-icons">settings_input_svideo</i>Dashboard</a>
            </li>
            <li class="no-padding">
                <a class="waves-effect waves-grey"  href="/backend/users/"><i class="material-icons">supervisor_account</i>Users</a>
            </li>
            <li class="no-padding">
                <a class="waves-effect waves-grey" href="/backend/courses/"><i class="material-icons">view_list</i>Courses</a>
            </li>
            <li class="no-padding">
                <a class="waves-effect waves-grey" href="/backend/item/"><i class="material-icons">view_list</i>Items</a>
            </li>
            <li class="no-padding">
                <a class="waves-effect waves-grey" href="/backend/static-pages/"><i class="material-icons">subject</i>Static pages</a>
            </li>
            <li class="no-padding">
                <a class="waves-effect waves-grey" href="/backend/payments/"><i class="material-icons">payment</i>Payment transactions</a>
            </li>
            <li class="no-padding">
                <a class="waves-effect waves-grey" href="/backend/events/"><i class="material-icons">location_on</i>Offline events</a>
            </li>
            <li class="no-padding">
                <a class="waves-effect waves-grey" href="/backend/questions/"><i class="material-icons">question_answer</i>Q&A</a>
            </li>
            <li class="no-padding">
                <a class="waves-effect waves-grey" href="/backend/blog/"><i class="material-icons">mode_edit</i>Blog</a>
            </li>
            <li class="no-padding">
                <a class="waves-effect waves-grey" href="/backend/settings/"><i class="material-icons">settings</i>Settings</a>
            </li>
            <li class="no-padding">
                <a class="waves-effect waves-grey" href="/backend/reviews/"><i class="material-icons">star</i>Reviews</a>
            </li>
            <li class="no-padding">
                <a class="waves-effect waves-grey" href="/backend/seo/"><i class="material-icons">trending_up</i>SEO</a>
            </li>
            <li class="no-padding">
                <a class="waves-effect waves-grey" href="/backend/mail/"><i class="material-icons">mail</i>Send Mail</a>
            </li>
        </ul>
        <div class="footer">
            <p class="copyright">Admin Panel</p>
            <div class="size-0_9em">Version 1.0</div>
        </div>
    </div>
</aside>