<div class="col-xs-12 col-sm-4 col-md-2 bc-dark-gray course-sidebar">
    <div class="p-2_5em">
        <div class="pb-2em c-lightgrey up">Course</div>
        <div class="size-1_2em"><?= $course->getName() ?></div>
        <?php $institution = $course->getInstitution(); ?>
        <?php if($institution){ ?>
            <div class=" size-0_9em c-green">by <?= $institution ?></div>
        <?php } ?>
    </div>
    <div class="p-2em flex nowrap items-center progress-block">
        <div class="progress pr-0_3em">
            <div class="determinate" style="width: 75%"></div>
        </div>
        <div>75%</div>
    </div>
    <div class="side-chapter student-ai">
        <ul class="collapsible" data-collapsible="accordion">
            <?php $chapters = $this->course($course)->getAllChapters(); ?>
            <?php $currentChapter = isset($currentChapter) ? $currentChapter : null; ?>
            <?php $currentItem = isset($currentItem) ? $currentItem : null; ?>
            <?php $items = []; ?>
            <?php if ($chapters) { ?>
                <?php $i = 1; ?>
                <?php foreach ($chapters as $chapter) { ?>
                    <?php $items = $this->chapter($chapter)->getAllItems(); ?>
                    <li>
                        <div class="collapsible-header pl-2em size-1_1em <?php if ($currentChapter==$chapter->getIdentity()) {
                            echo "active";
                        } ?>">
                            <a href="<?php echo $this->url(
                                'personal-office/chapter',
                                ['alias' => $chapter->getAlias()]) ?>">
                                Chapter <?= $i ?>
                            </a>
                        </div>
                        <div class="collapsible-body checked size-1_1em">
                            <?php $issues = $this->chapter($chapter)->getAllIssues(); ?>
                            <?php $quizes = $this->chapter($chapter)->getAllQuizes(); ?>
                            <?php if ($issues || $quizes) { ?>
                                <?php $i = 1; ?>
                                <?php foreach ($issues as $item) { ?>
                                    <?php $typeName = "Issue ".$i++; ?>
                                    <div class="pos-rel">
                                        <a href="<?php echo $this->url(
                                            'personal-office/item',
                                            ['alias' => $item->getAlias()]) ?>"
                                           class="<?php if ($currentItem==$item->getIdentity()) {
                                               echo "active-issue";
                                           } ?>">
                                            <?= $typeName ?>
                                        </a>
                                    </div>
                                <?php } ?>
                                <?php $i = 1; ?>
                                <?php foreach ($quizes as $item) { ?>
                                    <?php $typeName = count($quizes) > 1 ? "Quiz ".$i++ :"Final Quiz"; ?>
                                    <div class="pos-rel">
                                        <a href="<?php echo $this->url(
                                            'personal-office/item',
                                            ['alias' => $item->getAlias()]) ?>"
                                            class="<?php if ($currentItem==$item->getIdentity()) {
                                            echo "active-issue";
                                        } ?>">
                                            <?= $typeName ?>
                                        </a>
                                    </div>
                                <?php } ?>
                            <?php } else { ?>
                                <div class="pb-0_5em pt-0_5em pos-rel">There are no items</div>
                            <?php } ?>
                        </div>
                    </li>
                    <?php $i++ ?>
                <?php } ?>
            <?php } else { ?>
                <li>
                    <div class="collapsible-header pl-2em size-1_1em">There are no chapters</div>
                </li>
            <?php } ?>
        </ul>
    </div>
</div>