<?php
/**
 * @var \Application\View\Renderer $this
 */
?>

<p>
    A new feedback received.<br>
    Name - <?=$data['name']?> <br>
    Email - <?=$data['email']?> <br><br>
    <?=$data['content']?>

    Thank You.
</p>