<?php
/**
 * @var \Application\View\Renderer $this
 */
?>

<p>
    You have successfully registered on the Engagement Portal. <br>
    Your credential are: <br>
    Email - <?=$data['email']?> <br>

    Thank You.
</p>