<?php
$this->headTitle('Change password');

$form = $this->form;

$form->get('oldPassword')->setAttributes([
    'class'=>'validate',
    'placeholder'=>'Enter current password'
]);

$form->get('new_password')->setAttributes([
    'class'=>'validate',
    'placeholder'=>'Enter new password'
]);

$form->get('confirm_new_password')->setAttributes([
    'class'=>'validate',
    'placeholder'=>'Confirm new password'
]);

$form->get('submit')->setAttributes(['class'=>'button button-green-out']);
$form->get('submit')->setValue('Save changes');
$form->prepare();
?>


<section class="bc-white pt-4_5em pb-8em">
    <div class="container">
        <div class="flex-2em">

            <?php echo $this->aepNavigation()->getLeftMenuProfile('personal-office/menu/left_menu_profile'); ?>

            <div class="col-xs-12 col-sm-8">
                <div class="pb-2em flex">
                    <div class="size-1_3em up c-black f-bold title-lines-left">Change password</div>
                </div>
                <div class="">
                    <?= $this->form()->openTag($form); ?>
                        <div class="flex-1em">
                            <div class="col-xs-12 col-sm-12">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="pt-1em">
                                        <div class="size-1em c-grey-input f-bold"><?= $this->formLabel($form->get('oldPassword')); ?></div>
                                    </div>
                                    <div class="input-field input-profile">
                                        <?= $this->formElement($form->get('oldPassword')); ?>
                                        <?= $this->formElementErrors($form->get('oldPassword')); ?>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="pt-1em">
                                        <div class="size-1em c-grey-input f-bold"><?= $this->formLabel($form->get('new_password')); ?></div>
                                    </div>
                                    <div class="input-field input-profile">
                                        <?= $this->formElement($form->get('new_password')); ?>
                                        <?= $this->formElementErrors($form->get('new_password')); ?>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="pt-1em">
                                        <div class="size-1em c-grey-input f-bold"><?= $this->formLabel($form->get('confirm_new_password')); ?></div>
                                    </div>
                                    <div class="input-field input-profile">
                                        <?= $this->formElement($form->get('confirm_new_password')); ?>
                                        <?= $this->formElementErrors($form->get('confirm_new_password')); ?>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2em">
                                <?= $this->formElement($form->get('submit')); ?>
                            </div>
                        </div>
                    <?= $this->form()->closeTag(); ?>
                </div>
            </div>
        </div>
    </div>
</section>