<?php
$this->headTitle('Personal data');

$form = $this->form;

$form->get('email')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Enter email'
]);

$form->get('fullName')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Enter full name'
]);

$form->get('birthday')->setAttributes([
    'class'=>'datepicker',
    'placeholder'=>'Enter birthday'
]);

$form->get('address')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Enter address'
]);

$form->get('timezone')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Enter timezone'
])->setValueOptions(
    $this->selectOptionsHelper()->getTimezonesList()
);

$form->get('description')->setAttributes([
    'class'=>'materialize-textarea p-0',
    'placeholder'=>'Enter description'
]);

$form->get('state')->setAttributes([
    'class'=>'form-control'
]);

$form->get('avatar')->setAttributes([
    'class'=>'file-loading',
    'multiple'=>false,
]);

$form->get('submit')->setAttributes(['class'=>'button button-green-out']);
$form->get('submit')->setValue('Save');
$form->prepare();
?>

<section class="bc-white pt-4_5em pb-8em">
    <div class="container">
        <div class="flex-2em">

            <?php echo $this->aepNavigation()->getLeftMenuProfile('personal-office/menu/left_menu_profile'); ?>

            <div class="col-xs-12 col-sm-8">
                <div class="pb-2em pt-3em-xs flex items-center">
                    <div class="size-1_3em up c-black f-bold title-lines-left">Personal data</div>
                </div>
                <div class="">

                    <?= $this->form()->openTag($form); ?>

                        <div class="flex-1em space-between-sm">

                            <div class="col-sm-7">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="pt-1em">
                                        <div class="size-1em c-grey-input f-bold up"><?= $this->formLabel($form->get('fullName')); ?></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <div class="input-field input-profile">
                                        <?= $this->formElement($form->get('fullName')); ?>
                                        <?= $this->formElementErrors($form->get('fullName')); ?>
                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-12">
                                    <div class="pt-1em">
                                        <div class="size-1em c-grey-input f-bold up"><?= $this->formLabel($form->get('email')); ?></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <div class="input-field input-profile">
                                        <?= $this->formElement($form->get('email')); ?>
                                        <?= $this->formElementErrors($form->get('email')); ?>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12">
                                    <div class="pt-1em">
                                        <div class="size-1em c-grey-input f-bold up"><?= $this->formLabel($form->get('birthday')); ?></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <div class="input-field input-profile">
                                        <?= $this->formElement($form->get('birthday')); ?>
                                        <?= $this->formElementErrors($form->get('birthday')); ?>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12">
                                    <div class="pt-1em">
                                        <div class="size-1em c-grey-input f-bold up"><?= $this->formLabel($form->get('timezone')); ?></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <div class="input-field input-profile">
                                        <?= $this->formElement($form->get('timezone')); ?>
                                        <?= $this->formElementErrors($form->get('timezone')); ?>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12">
                                    <div class="pt-1em">
                                        <div class="size-1em c-grey-input f-bold up"><?= $this->formLabel($form->get('sex')); ?></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <div class="input-field input-profile">
                                        <?= $this->formElement($form->get('sex')); ?>
                                        <?= $this->formElementErrors($form->get('sex')); ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 pt-2em-xs">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="pt-1em pb-1em text-center">
                                        <div class="size-1em c-grey-input f-bold up">Add / Edit photo</div>
                                    </div>
                                    <div class="pos-rel">
                                        <?php echo $this->formElement($form->get('avatar')); ?>
                                    </div>
                                    <div class="pt-2em">
                                        <a href="<?= $this->url('personal-office/delete-account') ?>" class="button button-orange-out w100">Delete account</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 pt-2em-xs">
                                <div class="pt-1em">
                                    <div class="size-1em c-grey-input f-bold up"><?= $this->formLabel($form->get('address')); ?></div>
                                </div>
                                <div class="input-field input-profile">
                                    <?= $this->formElement($form->get('address')); ?>
                                    <?= $this->formElementErrors($form->get('address')); ?>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 pt-2em-xs">
                                <div class="pt-1em">
                                    <div class="size-1em c-grey-input f-bold up"><?= $this->formLabel($form->get('description')); ?></div>
                                </div>
                                <div class="input-field input-profile">
                                    <?= $this->formElement($form->get('description')); ?>
                                    <?= $this->formElementErrors($form->get('description')); ?>
                                </div>
                            </div>

                            <div class="pt-1em">
                                <?= $this->formElement($form->get('submit')); ?>
                            </div>
                        </div>
                    <?= $this->form()->closeTag(); ?>
                </div>
            </div>

        </div>
    </div>
</section>

<script>
    $(function(){
        $.fileInputEngage.initAvatar({
            selector : "#avatar",
            activeImgSrc: "<?= $this->basePath($this->image($user->getAvatar())->getImgSrc()) ?>",
            caption: "<?= $user->getAvatar() ? $user->getAvatar()->getFileName() : "" ?>",
            size: "<?= $user->getAvatar() ? $user->getAvatar()->getSize() : "" ?>"
        });
    });
</script>