<?php
use Application\View\Helper\NamedDateFormat;
?>

<section class="bc-darkgreen c-white pt-5em-sm pt-3em-xs pos-rel">
    <div class="container">
        <div class="flex-1em pb-1_5em">
            <div class="size-1_3em title-lines-left">My offline events</div>
        </div>
        <div>
            <ul class="tabs">
                <li class="tab"><a class="active" href="#events-1">Upcoming events</a></li>
                <li class="tab"><a class="" href="#events-2">Past events</a></li>
            </ul>
        </div>
    </div>
    <div class="pos-abs bottom-0 right-6em display-none-xs">
        <img class="flex" src="<?php echo $this->basePath(
            'themes/engage/img/my_courses/4.png"'
        ); ?>" alt="image">
    </div>
</section>

<section  class="flex-1em pt-5em-sm pt-4em-xs pb-3em-sm pb-8em-lg pb-2em-xs">
    <div id="tabs-container" class="container">
        <div id="events-1" class="tabs-outer flex-1em">
            <div class="col-xs-12 col-sm-8 col-md-9 flex-1em child-mb-2em child-col-xs-12 child-col-sm-12 tab-container">
                <?php if($upcomingEvents) { ?>
                <?php foreach ($upcomingEvents as $event) { ?>
                <div>
                    <div class="br-2 br-lightgray">
                        <div class="flex">
                            <div class="col-sm-12 col-xs-12 br-bottom-2 br-lightgray p-2em">
                                <div class="flex-1em items-center">
                                    <div class="pr-1em c-lightgrey">
                                        <i class="fa fa-calendar-o fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="">
                                        <div class="size-0_9em f-semi-bold">
                                            <?php echo $this->namedDateFormat()->getDateFormat($event->getHeldDate(), NamedDateFormat::FORMAT_MEDIUM_DATE); ?> &nbsp;&nbsp;|&nbsp;&nbsp; <?php echo $this->namedDateFormat()->getDateFormat($event->getHeldDate(), NamedDateFormat::FORMAT_MEDIUM_TIME); ?>
                                        </div>
                                    </div>
                                    <div class="pr-1em c-lightgrey">
                                        <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="">
                                        <div class="size-0_9em f-semi-bold up"> <?= $event->getAddress() ?></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 flex column p-2em pb-1em">
                                <div>
                                    <a href="<?php echo $this->url('personal-office/offline-event', ['alias'=>$event->getAlias()]); ?>"><div class="f-semi-bold size-1_5em pb-1em"><?= $event->getName() ?></div></a>
                                    <div class="pb-1em c-grey size-0_9em">
                                        <?= $event->getDescription() ?>
                                    </div>
                                </div>
                                <?php $usersList = $this->offlineEvent($event)->getUsers(); ?>
                                <div class="c-grey f-semi-bold"><?php echo count($usersList); ?> Students are going</div>
                                <div class="flex-1em items-center">
                                    <div class="col-xs-12 col-sm-6 pr-0_5em flex items-center space-between">
                                        <?php foreach ($usersList as $user) { ?>
                                            <i class="fa fa-smile-o fa-3x" aria-hidden="true"></i>
                                        <?php } ?>
                                        <i class="fa fa-ellipsis-h fa-3x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 text-right pt-1em-xs size-0_8em-md size-1em-lg">
                                        <a href="<?php echo $this->url('personal-office/offline-event', ['alias'=>$event->getAlias()]); ?>" class="waves-effect button button-green-out complete">Joined</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php } ?>
                <?php } else { ?>
                    <div class="c-grey f-semi-bold">There are no upcoming events.</div>
                <?php } ?>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div>
                    <div class="br-2 br-lightgray">
                        <div class="col-sm-12 col-xs-12 p-2em  br-bottom-2 br-lightgray">
                            <div class="size-1_5em f-semi-bold items-center text-center ">
                                Calendar
                            </div>
                        </div>
                        <div class="flex p-2em pt-4em pb-4em bc-gray center up f-semi-bold c-grey">
                            Calendar widget with highlighted dates
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="events-2" class="col-xs-12 col-sm-8 col-md-9 tabs-outer">
            <div class="flex-1em child-mb-2em child-col-xs-12 child-col-sm-12 tab-container">
                <?php if($pastEvents) { ?>
                <?php foreach ($pastEvents as $event) { ?>
                <div>
                    <div class="br-2 br-lightgray">
                        <div class="flex">
                            <div class="col-sm-12 col-xs-12 br-bottom-2 br-lightgray p-2em">
                                <div class="flex-1em items-center">
                                    <div class="pr-1em c-lightgrey">
                                        <i class="fa fa-calendar-o fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="">
                                        <div class="size-0_9em f-semi-bold">
                                            <?php echo $this->namedDateFormat()->getDateFormat($event->getHeldDate(), NamedDateFormat::FORMAT_MEDIUM_DATE); ?> &nbsp;&nbsp;|&nbsp;&nbsp; <?php echo $this->namedDateFormat()->getDateFormat($event->getHeldDate(), NamedDateFormat::FORMAT_MEDIUM_TIME); ?>
                                        </div>
                                    </div>
                                    <div class="pr-1em c-lightgrey">
                                        <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="">
                                        <div class="size-0_9em f-semi-bold up"> <?= $event->getAddress() ?></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 flex column p-2em pb-1em">
                                <div>
                                    <a href="<?php echo $this->url('personal-office/offline-event', ['alias'=>$event->getAlias()]); ?>"><div class="f-semi-bold size-1_5em pb-1em"><?= $event->getName() ?></div></a>
                                    <div class="pb-1em c-grey size-0_9em">
                                        <?= $event->getDescription() ?>
                                    </div>
                                </div>
                                <?php $usersList = $this->offlineEvent($event)->getUsers(); ?>
                                <div class="c-grey f-semi-bold"><?php echo count($usersList); ?> Visited this event are going</div>
                                <div class="flex-1em items-center">
                                    <div class="col-xs-12 col-sm-6 pr-0_5em flex items-center space-between">
                                        <?php foreach ($usersList as $user) { ?>
                                            <i class="fa fa-smile-o fa-3x" aria-hidden="true"></i>
                                        <?php } ?>
                                        <i class="fa fa-ellipsis-h fa-3x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 text-right pt-1em-xs size-0_8em-md size-1em-lg">
                                        <a href="<?php echo $this->url('personal-office/offline-event', ['alias'=>$event->getAlias()]); ?>" class="waves-effect button button-grey past">Past</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php } ?>
                <?php } else { ?>
                    <div class="c-grey f-semi-bold">There are no past events.</div>
                <?php } ?>
            </div>
        </div>
    </div>
</section>