<?php
$this->headTitle('New Course Chapter');

$form = $this->form;
$form->get('name')->setAttributes([
    'class'=>'validate',
    'placeholder'=>''
]);

$form->get('description')->setAttributes([
    'class'=>'materialize-textarea',
    'placeholder'=>''
]);

$form->get('state')->setAttributes([
    'class'=>'select-dropdown'
]);
$form->get('submit')->setAttributes(
    [
        'value' => 'Update',
        'class' => 'waves-effect waves-light btn green m-b-xs',
    ]
);
$form->prepare();

?>


<main class="mn-inner">
    <div class="page-title">Chapters</div>
    <div class="mt-2em">
        <?php echo $this->form()->openTag($form); ?>
        <div class="flex-1em w100">
            <div class="col-xs-12 col-sm-12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Edit chapter</span>
                        <?php echo $this->form()->openTag($form); ?>
                        <div class="flex-1em child-col-sm-12 child-col-md-12 child-col-xs-12">
                            <div class="input-field">
                                <?= $this->formElement($form->get('name')); ?>
                                <?= $this->formElementErrors($form->get('name')); ?>
                                <label class="active">Title</label>
                            </div>
                            <div class="input-field">
                                <?= $this->formElement($form->get('description')); ?>
                                <?= $this->formElementErrors($form->get('description')); ?>
                                <label class="active">Description</label>
                            </div>
                            <div class="input-field">
                                <?= $this->formElement($form->get('state')); ?>
                                <?= $this->formElementErrors($form->get('state')); ?>
                                <label class="active">State</label>
                            </div>
                        </div>
                        <div class="pt-2em flex-0_5em flex-end">
                            <div>
                                <?php echo $this->formElement($form->get('submit')); ?>
                            </div>
                        </div>
                        <?php echo $this->form()->closeTag(); ?>
                    </div>
                </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</main>




