<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="bc-dark-gray course-sidebar professor-sidebar mb-2em-xs">
        <div class="flex center">
            <div class="br-bottom-1 br-gray p-2em w100">
                <div class="size-1_2em c-lightgrey up">
                    <?php if ($this->container->current()->get('chapterId')) { ?>
                    <a href="<?php echo $this->url('personal-office/chapter/sort', ['id' => $this->container->current()->get('chapterId')]); ?>">Chapters</a>
                    <?php } else { ?>
                        Chapters
                    <?php } ?>
                </div>
            </div>
        </div>
        <div class="side-chapter ">
            <?php if ($this->container) { ?>
            <ul class="collapsible" data-collapsible="accordion">
                <?php foreach ($this->container as $page) { ?>
                    <?php if ($this->navigation()->accept($page)) { ?>
                    <li class="<?php echo $page->isActive() ? 'active' : ''; ?>">
                        <div class="collapsible-header pl-2em size-1_1em">
                            <?php echo $page->getLabel(); ?>
                            <div onclick="location.replace('<?php echo $page->getHref(); ?>')" class="edit-item"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                        </div>
                        <?php if ($page->getPages()) { ?>
                            <div class="collapsible-body checked size-1_1em">
                            <?php foreach ($page->getPages() as $pageSecond) { ?>
                                <a href="<?php echo $pageSecond->getHref();?>" class="p-1em">
                                    <?php echo $pageSecond->getLabel();?>
                                </a>
                            <?php } ?>
                            </div>
                        <?php } ?>
                    </li>
                    <?php } ?>
                <?php } ?>
            </ul>
            <?php } ?>
        </div>
    </div>
</div>

<style>
    .edit-item {
        transition: all ease-in-out 0.4s;
        opacity: 0;
        position: absolute;
        top: 1.3em;
        right: -0.6em;
    }

    div:hover > .edit-item {
        transition: all ease-in-out 0.1s;
        opacity: 1;
    }
</style>