<?php
/**
 * @var \Application\View\Renderer $this
 * @var \Zend\Navigation\Page\AbstractPage $page
 */
$mobileLinks = [];
$loginLinks = [];
?>

<header class="pt-0_8em-xs pb-0_5em-xs">
    <div class="container m-w100">
        <div class="flex space-between items-center">
            <?php if ($this->container) { ?>
                <div class="col-sm-5">
                    <div class="flex flex-start items-center">
                        <div class="size-2em c-green">
                            <a href="<?php echo $this->url('frontend'); ?>" class="c-green">
                                <?php echo $this->container->getLabel(); ?>
                            </a>
                        </div>
                        <div class="col-md-5 display-none-xs display-none-sm display-block-md">
                            <div class="input-field input-search">
                                <i class="icon-search"></i>
                                <input id="icon_prefix" type="text" class="bc-gray" placeholder="What do you want to learn?">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="display-none-xs">
                    <div class="flex-2em items-center">
                        <div class="br-right-2 br-lightgray pt-2em-sm pb-2em-sm pt-1em-xs pb-1em-xs">
                            <div class="flex-1_5em nav-menu">
                                <?php foreach ($this->container as $page) { ?>
                                    <?php
                                    if ($this->navigation()->accept($page) && $page->getId() == 'user_logout') {
                                        $mobileLinks[] = '<li><a href="' . $page->getHref() . '">'
                                            . $page->getLabel() .'</a></li>';
                                    }

                                    if ($this->navigation()->accept($page) && $page->getId() == 'user_logout') {
                                        $loginLinks[] = '<li><a href="'.$page->getHref().'">'
                                            .$page->getLabel().'</a></li>';
                                    }
                                    ?>
                                    <?php if ($this->navigation()->accept($page)) { ?>
                                        <?php if ($page->getId() == 'simple') { ?>
                                            <div class="<?php echo $page->isActive() ? 'active' : ''; ?>">
                                                <a href="<?php echo $page->getHref(); ?>">
                                                    <?php echo $page->getLabel()?>
                                                </a>
                                            </div>
                                        <?php } elseif ($page->getId() == 'professor_links' &&
                                            $this->isAllowed('top_menu', 'professorShowCourses')) { ?>
                                            <div class="<?php echo $page->isActive() ? 'active' : ''; ?>">
                                                <a href="<?php echo $page->getHref(); ?>">
                                                    <?php echo $page->getLabel()?>
                                                </a>
                                            </div>
                                        <?php } ?>
                                    <?php } ?>
                                <?php } ?>
                            </div>
                        </div>
                        <?php if ($this->isAllowed('user', 'logout')) { ?>
                            <div>
                                <div class="flex-1em items-center nav-menu">
                                    <div class="flex-0_5em items-center dropdown-button hover"
                                         data-activates='dropdown1'>
                                        <div>
                                            <div class="avatar-small">
                                                <img class="width-5em" src="<?php echo $this->basePath(
                                                    'themes/engage/img/avatar.png'
                                                ); ?>" alt="Contact Person">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="pl-0_5em pr-0_5em">
                                                <?php echo $this->authIdentity()->getFullName(); ?>
                                            </div>
                                        </div>
                                        <div>
                                            <a class='dropdown-button display-block' href='#'>
                                                <em class="fa fa-angle-down fa-2x" aria-hidden="true"></em>
                                            </a>
                                        </div>
                                    </div>

                                    <ul id='dropdown1' class='dropdown-content'>
                                        <?php if ($loginLinks) {
                                            echo implode('<li class="divider"></li>', $loginLinks);
                                        } ?>
                                    </ul>
                                </div>
                            </div>
                        <?php } else { ?>
                            <?php foreach ($this->container as $page) { ?>
                                <?php if ($this->navigation()->accept($page) &&
                                    $page->getId() == 'user_authorization') { ?>
                                    <div>
                                        <div class="flex-1_5em items-center nav-menu">
                                            <div>
                                                <a class="<?php echo $page->getClass(); ?>"
                                                   href="<?php echo $page->getHref(); ?>">
                                                    <?php echo $page->getLabel()?>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                <?php } ?>
                            <?php } ?>
                        <?php } ?>
                    </div>
                </div>
            <?php } ?>
            <div class="display-none-sm">
                <div class="hover open-mobile-menu">
                    <em class="fa fa-bars size-1_5em" ></em>
                </div>
            </div>
        </div>
    </div>
</header>

<?php if ($mobileLinks) { ?>
    <div>
        <ul class="mobile-menu collapse">
            <?php echo implode('', $mobileLinks); ?>
        </ul>
    </div>
<?php } ?>
