<?php
/**
 * @var \Application\View\Renderer $this
 */

$this->headTitle('Cource info');

$form->get('categories')->setValueOptions(
    $this->selectOptionsHelper()->getCategoriesValues()
);

$form->get('difficulty')->setValueOptions(
    $this->selectOptionsHelper()->getDifficultyValues()
);

$form->get('teacher')->setValueOptions(
    $this->selectOptionsHelper()->getProfessorsValues()
);

$form->get('execution')->setValueOptions(
    $this->selectOptionsHelper()->getPeriodValues()
);
$form->get('howPass')->setAttributes([
    'type'=>'range',
]);

$form->get('submit')->setAttributes(
    [
        'value' => 'Save',
        'class' => 'waves-effect waves-light btn green m-b-xs'
    ]
);

$form->prepare();
?>

<main class="mn-inner">
    <div class="page-title">User</div>
    <div>
        <ul class="tabs tab-demo z-depth-1" style="width: 100%;">
            <li class="tab col s3"><a href="#t1" class="">Main</a></li>
            <li class="tab col s3"><a class="" href="#t2">Chapters</a></li>
            <li class="tab col s3"><a href="#t3">Reviews</a></li>
        </ul>
    </div>
    <div class="mt-2em">
        <div id="t1">
            <div class="flex-1em">
                <div class="col-sm-8 col-xs-12 order-xs-2">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Course info</span>
                            <?php echo $this->form()->openTag($form); ?>
                                <div class="flex-1em child-col-sm-6 child-col-md-4 child-col-xs-12">
                                    <div class="input-field w100">
                                        <?php echo $this->formElement($form->get('name')); ?>
                                        <?php echo $this->formElementErrors($form->get('name')); ?>
                                    </div>
                                    <div class="input-field w100">
                                        <?php echo $this->formElement($form->get('description')); ?>
                                        <?php echo $this->formElementErrors($form->get('description')); ?>
                                        <label class="active">Description</label>
                                    </div>
                                    <div class="input-field w100">
                                        <?php echo $this->formElement($form->get('institution')); ?>
                                        <?php echo $this->formElementErrors($form->get('institution')); ?>
                                        <label class="active">Preliminary Requirements</label>
                                    </div>
                                    <div class="input-field w100">
                                        <?php echo $this->formElement($form->get('skillsToAchieve')); ?>
                                        <?php echo $this->formElementErrors($form->get('skillsToAchieve')); ?>
                                        <label class="active">Achieving skills</label>
                                    </div>
                                    <div class="input-field">
                                        <?php echo $this->formElement($form->get('execution')); ?>
                                        <?php echo $this->formElementErrors($form->get('execution')); ?>
                                        <?php echo $this->formLabel($form->get('execution')); ?>
                                    </div>
                                    <div class="input-field">
                                        <?php echo $this->formElement($form->get('teacher')); ?>
                                        <?php echo $this->formElementErrors($form->get('teacher')); ?>
                                        <?php echo $this->formLabel($form->get('teacher')); ?>
                                    </div>
                                    <div class="input-field">
                                        <?php echo $this->formElement($form->get('categories')); ?>
                                        <?php echo $this->formElementErrors($form->get('categories')); ?>
                                        <label>Category</label>
                                    </div>
                                    <div class="input-field">
                                        <?php echo $this->formElement($form->get('difficulty')); ?>
                                        <?php echo $this->formElementErrors($form->get('difficulty')); ?>
                                        <?php echo $this->formLabel($form->get('difficulty')); ?>
                                    </div>
                                    <div class="range-field" style="padding-top: 0.8em;">
                                        <?php echo $this->formLabel($form->get('howPass')); ?>
                                        <?php echo $this->formElement($form->get('howPass')); ?>
                                        <?php echo $this->formElementErrors($form->get('howPass')); ?>
                                    </div>
                                </div>
                                <div class="pt-2em flex-0_5em flex-end">
                                    <?= $this->formElement($form->get('submit')); ?>
                                </div>
                             <?php echo $this->form()->closeTag(); ?>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 order-xs-1">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Thumbnail</span>
                            <div class="pb-1em">
                                <img class="w100" src="<?php echo $this->basePath('/themes/admin/images/mountains1.png') ?>"/></div>
                            <div class="file-field input-field">
                                <div class="flex-1em space-between">
                                    <div>
                                        <div class="btn teal lighten-1">
                                            <span>Select</span>
                                            <input type="file">
                                        </div>
                                    </div>
                                    <div>
                                        <a class="waves-effect waves-light btn red m-b-xs">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="t2">
            <div class="card">
                <div class="card-content nestable-container">
                    <span class="card-title">Chapters</span>
                    <div class="child-mb-0_5em" id="chapters">
                        <?php  if ($chapters) : ?>
                            <?php foreach ($chapters as $chapter) : ?>
                                <div class="block-lightgrey-with-hover">
                                    <div class="flex-1em space-between items-center">
                                        <div><?= $chapter->getName() ?></div>
                                        <div class="flex nowrap flex-end">
                                            <a class="btn-floating waves-effect waves-light size-0_7em show-on-hover" href="<?php echo $this->url('backend/course-chapter', ['action' => 'edit', 'id' => $chapter->getIdentity()]); ?>">
                                                <i class="material-icons">mode_edit</i>
                                            </a>
                                            <a class="btn-floating waves-effect waves-light red size-0_7em show-on-hover modal-trigger ml-0_5em" href="<?php echo $this->url('backend/course-chapter', ['action' => 'delete', 'id' => $chapter->getIdentity()]); ?>">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        <?php else: ?>
                            <div class="cyan lighten-4 p-2em">No items.</div>
                        <?php endif; ?>
                    </div>
                    <div class="pt-2em flex-0_5em flex-end">
                        <div>
                            <a href="<?php echo $this->url('backend/course-chapter', ['action'=>'create', 'id' => $course->getIdentity()]); ?>" class="waves-effect waves-light btn green m-b-xs">Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="t3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Reviews</span>
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">Animi consectetur ducimus exercitationem non, placeat porro quia sint ullam unde ut! </div>
                            <div class="collapsible-body">
                                <div class="flex-1em space-between nowrap">
                                    <div>
                                        <p>Curabitur a lectus at risus porttitor facilisis. Duis ac fermentum mi, consequat finibus erat. Proin hendrerit, ex et gravida hendrerit, mauris quam lacinia nunc, et laoreet mi risus quis risus.</p>
                                    </div>
                                    <div>
                                        <p>
                                            <a class="btn-floating waves-effect waves-light modal-trigger size-0_8em" href="#compose">
                                                <i class="material-icons">mode_edit</i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consectetur ducimus exercitationem non, placeat porro quia sint ullam unde ut! </div>
                            <div class="collapsible-body">
                                <div class="flex-1em space-between nowrap">
                                    <div>
                                        <p>Curabitur a lectus at risus porttitor facilisis. Duis ac fermentum mi, consequat finibus erat. Proin hendrerit, ex et gravida hendrerit, mauris quam lacinia nunc, et laoreet mi risus quis risus.</p>
                                    </div>
                                    <div>
                                        <p>
                                            <a class="btn-floating waves-effect waves-light modal-trigger size-0_8em" href="#compose">
                                                <i class="material-icons">mode_edit</i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                            <div class="collapsible-body">
                                <div class="flex-1em space-between nowrap">
                                    <div>
                                        <p>Curabitur a lectus at risus porttitor facilisis. Duis ac fermentum mi, consequat finibus erat. Proin hendrerit, ex et gravida hendrerit, mauris quam lacinia nunc, et laoreet mi risus quis risus.</p>
                                    </div>
                                    <div>
                                        <p>
                                            <a class="btn-floating waves-effect waves-light modal-trigger size-0_8em" href="#compose">
                                                <i class="material-icons">mode_edit</i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>