@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-SemiBold.woff') format('woff'),
    url('../fonts/Poppins-SemiBold.ttf')  format('truetype'),
    url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf')  format('truetype'),
    url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-bold.woff') format('woff'),
    url('../fonts/Poppins-bold.ttf')  format('truetype'),
    url('../fonts/Poppins-bold.svg#Poppins') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-size:14px;
    font-family: 'Poppins-Regular', sans-serif;
    color: #272b2b;

}
section {
    overflow: hidden;
}
.f-semi-bold {
    font-family: 'Poppins-SemiBold', sans-serif;
}
/*links*/
a {
    transition: all ease-in-out 0.3s;
    color:#222;
}
a:hover {
    transition: all ease-in-out 0.1s;
    color:#222;
}
.hover {
    cursor:pointer;
}
p  {
    margin-top:0;
}
ul {
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
header {
    border-bottom:2px solid #ececec;
}
.nav-menu a {
    font-weight: 600;
    color: #525c65;
}
.nav-menu a.button:hover, .nav-menu a.button:focus  {
    outline: none;
    color: #fff;
}
.nav-menu .active a, .nav-menu a:hover {
    color: #56bdbd;
}
.button-green-out {
    background-color: transparent;
    border: 2px solid #56bdbd!important;
}
.button-green-out:hover, .button-green-out:focus {
    color: #fff;
    background-color: #56bdbd;
}
.button-white-out {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff!important;
}
.button-white-out:hover, .button-white-out:focus {
    color: #56bdbd;
    background-color: #fff;
}

@media (max-width:767px){
    .container {
        padding-left:1.4em!important;
        padding-right:1.4em!important;
    }
}

.close-div {
    z-index: 1000;
}
.modal.video-modal {
    overflow-y: hidden;
    max-height: 100%;
}
/*fonts*/

.f-bold,
strong{
    font-family: 'Poppins-Bold', sans-serif;
    font-weight:600;
}
.f-medium {
    font-weight:500;
}
.f-light {
    font-weight:300;
}
.f-medium {
    font-weight: 500;
}

/*sizes*/
@media (max-width:767px){
    .ml--1_5em-xs {
        margin-left:-1.5em;
    }
    .mr--1_5em-xs {
        margin-right:-1.5em;
    }
}
.w100 {
    width:100%;
}
.m-w100 {
    max-width: 100%;
}
.h100 {
    height:100%;
}
.h100vh {
    min-height: 100vh;
}
.tabs-panel > li > a {
    position: relative;
    display: inline-block;
    color: #555;
    opacity: .5;

}
.tabs-panel p {
    margin-top: 0.5em;
}
.bc-lightgray-gradient {
    background: rgba(0, 0, 0, 0) linear-gradient(#f7f7f9 5%, #ffffff 15%) repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
}
.nav-tabs {
    border: medium none;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    width: 33.33%;
}
.nav > li > a {
    display: block;
    padding: 10px 15px 10px 0;
    position: relative;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px solid transparent;
    outline: none;
    opacity: 1;
}
.nav-tabs > li > a:hover {
    background-color: inherit;
    opacity: .8;
    border: 1px solid transparent;
}
.ab-line {
    overflow: hidden;
}
.ab-line:before,
.ab-line:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 2px;
    border: solid #FFF;
    border-width: 0 16px;
    background: #000;
}
.ab-line:before {
    margin-left: -100%;
}
.ab-line:after {
    margin-right: -100%;
}

*::placeholder {
    color: #292e2e;
}
*::-moz-placeholder {
    color: #292e2e;
}
*:-moz-placeholder {
    color: #292e2e;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #292e2e;
}
textarea.materialize-textarea {
    min-height: 4.5rem;
    overflow-y: hidden;
    resize: none;
}
.captcha-field {
    margin-top: 0;
}
.course-block {
    border: 2px solid #ccc;
}

.progress {
    height: 6px;
    background-color: #dfe6e4;
}
.progress .determinate {
    background-color: #56bdbd;
}
.course-bottom-block {
    border-top: 1px solid #ccc;
}
/*input icons*/

.input-field .input-icon {
    position: absolute;
    width: 2.2rem;
    height: 3rem;
    font-size: 2rem;
    transition: color .2s;
}
.input-field .input-icon ~ input, .input-field .input-icon ~ textarea, .input-field .input-icon ~ label, .input-field .input-icon ~ .validate ~ label, .input-field .input-icon ~ .autocomplete-content {
    margin-left: 4rem;
    width: 92%;
    width: calc(100% - 4rem);
}
.input-field .input-icon.i-user {
    background: url('../img/icons/user.svg') no-repeat center;
    background-position: 100% 100%;
}
.input-field .input-icon.i-mail {
    background: url('../img/icons/mail.svg') no-repeat center;
    background-position: 100% 100%;
}
.input-field .input-icon.i-password {
    background: url('../img/icons/password.svg') no-repeat center;
    background-position: 100% 100%;
}
.login-aep input:not([type]), input[type=text], input[type=password], input[type=email] {
    margin:  0 0 5px 0;
}
.box-shadow {
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.star {
    height: 1em;
    top: -9px;
}
.fon {
    height: 1em;
    top: -7px;
}
.bb {
    border-bottom: 1px solid #ececec;
}
.chapter-block {
    position: relative;
}
.chapter-block:before {
    content: '';
    width: 1em;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    height: 1em;
    background-color: #56bdbd;
}
.chapter-block::after {
    background-color: #56bdbd;
    bottom: 0;
    content: "";
    height: 107%;
    left: 0.45em;
    position: absolute;
    top: 0;
    width: 2px;
}
.chapter-string span {
    padding-bottom: 0.3em;
}
.text-inner-block {
    min-height: 10em;
}
.course-sidebar {
    color: #fff;
}
.course-sidebar .collapsible {
    border: 0 none;
    line-height: 1.6em;
    margin: 0;
}
.course-sidebar .collapsible-header {
    background-color: transparent;
    border-bottom: 2px solid #6e7273;
    cursor: pointer;
    display: block;
    line-height: 3rem;
    min-height: 3rem;
    padding: 1.55rem 2rem;
    position: relative;
    transition: all .3s ease-in-out 0s;
}
.side-chapter .collapsible-header.active {
    background-color: #fff;
    border-bottom: 1px solid #6e7273;
    color: #222;
    cursor: pointer;
    display: block;
    position: relative;
}
a.complete:before {
    content:'\2714';
    padding-right:0.6em;
}
.course-sidebar .collapsible-header:after {
    content: "\f104";
    font-family: 'FontAwesome', sans-serif;
    width: 1.2em;
    height: 1.2em;
    background-color: rgba(0,0,0,0);
    color: #adb1b4;
    border-radius: 50%;
    position: absolute;
    right: 1em;
    font-size: 2em;
    top: .75em;
    line-height: 1.2;
    text-align: center;
}
.course-sidebar .collapsible-header.active:after {
    content: "\f107";
    line-height: 1.3;
}
.course-sidebar .collapsible-body {
    border-bottom: 1px solid #6e7273;
    box-sizing: border-box;
    display: none;
    padding: 1rem 2rem;
}
.course-sidebar .collapsible-section {
    background-color: rgba(0,0,0,.15);
}
.course-sidebar .progress-block {
    background-color: rgba(0,0,0,.3);
}
.course-sidebar .progress {
    margin: 0 2.5em 0 0;
    background-color: #676a6b;
    border-radius: 10px;
}
.course-sidebar .side-chapter .collapsible-header, .course-sidebar .side-chapter .collapsible-body  {
    padding-left: 5rem;
}
.course-sidebar .side-chapter.student-ai .collapsible-body {
    padding-left: 2.5rem;
}
.side-chapter.student-ai .collapsible-body a {
    display: inline-block;
    background-color: rgba(255,255,255,0);
    border-radius: 1rem;
    color: #fff;
    padding: 0.5rem 2.5rem;
    transition: all .3s ease-in 0s;
}
.side-chapter.student-ai .collapsible-body a:hover, .side-chapter.student-ai .collapsible-body a:focus, .side-chapter.student-ai .collapsible-body a.focused {
    outline: none;
    background-color: rgba(255,255,255,.15);
}
.chapters-section::after {
    background: rgba(0, 0, 0, 0) url("../img/icons/icon-watch.png") no-repeat scroll center center / contain ;
    bottom: 0.65em;
    color: #adb1b4;
    content: "";
    font-size: 1.5em;
    height: 1.5em;
    left: -0.4em;
    position: absolute;
    width: 1.5em;
    z-index: 1;
}
.chapters-courses:before {
    background-color: #56bdbd;
    content: "";
    height: 110%;
    left: 0.4em;
    position: absolute;
    top: 2.7em;
    width: 2px;
    z-index: 0;
}
.chapters-courses:after {
    content: '';
    width: 1em;
    position: absolute;
    top: 2.7em;
    left: 0;
    border-radius: 50%;
    height: 1em;
    background-color: #56bdbd;
    z-index: 1;
}
.chapters-courses:first-child:after {
    background-color: #56bdbd;
}
.side-chapter .locked .active::after {
    background: rgba(0, 0, 0, 0) url("../img/icons/icon-lock.png") no-repeat scroll center center / contain ;
    color: #adb1b4;
    content: "";
    font-size: 1.5em;
    height: .9em;
    position: absolute;
    right: 0;
    top: 0.2em;
    width: .9em;
    z-index: 1;
}
.side-chapter .collapsible-body.checked .active:after {
    content: '';
    height: 1em;
    background: url("../img/icons/checked.png") no-repeat center / contain ;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    color: #adb1b4;
    width: 1em;
    z-index: 1;
}

.collapsible {
    box-shadow: none;
}
.side-chapter .collapsible-header.active {
    color: #56bdbd;
}
.side-chapter .collapsible-header:before {
    content: '\f097';
    font-family: FontAwesome, sans-serif;
    position: absolute;
    top: 0.75em;
    left: 1.1em;
    font-size: 2em;
    color: #adb1b4;
    z-index: 1;
}
.side-chapter .collapsible-header.active:before {
    content: '\f097';
    font-family: FontAwesome, sans-serif;
    position: absolute;
    top: 0.75em;
    left: 1.1em;
    font-size: 2em;
    color: #56bdbd;
    z-index: 1;
}
.side-chapter .collapsible-header.active.locked:before {
    content: '\f097';
    font-family: FontAwesome, sans-serif;
    position: absolute;
    top: 0.75em;
    left: 1.1em;
    font-size: 2em;
    color: #56bdbd;
    z-index: 1;
}
.side-chapter .collapsible-body  a {
    color: #ffffff;
    display: block;
    padding-left: 3em;
    margin-bottom: 2px;
}
.side-chapter .collapsible-body a:hover, .side-chapter .collapsible-body  a.active-issue {
    color: #ffffff;
    background-color: #93969c;
}
.side-chapter .collapsible-body  a.not-active-issue {
    color: #333;
}
.professor-sidebar .side-chapter .collapsible-body {
    padding: 1em;
}
.border-radius-1em {
    border-radius: 1em;
}
.border-radius-1_5em {
    border-radius: 1.5em;
}
.border-radius-50{
    border-radius: 50%;
}
.course-block a.checked::after {
    background: rgba(0, 0, 0, 0) url("../img/icons/checked.png") no-repeat scroll center center / contain ;
    color: #adb1b4;
    content: "";
    font-size: 1.5em;
    height: 1em;
    position: absolute;
    right: 0;
    top: 0.3em;
    width: 1em;
    z-index: 1;
}
.course-block a.locked::after {
    background: rgba(0, 0, 0, 0) url("../img/icons/icon-lock.png") no-repeat scroll center center / contain ;
    color: #adb1b4;
    content: "";
    font-size: 1.5em;
    height: 1em;
    position: absolute;
    right: 0;
    top: 0.3em;
    width: 1em;
    z-index: 1;
}
.course-block .icon:before {
    content: "";
    font-size: 1.5em;
    height: 1.5em;
    position: absolute;
    left: 0;
    top: -0.2em;
    width: 1.5em;
    z-index: 1;
}
.course-block .icon.text:before {
    background: rgba(0, 0, 0, 0) url("../img/icons/icon-text.png") no-repeat scroll center center / contain ;
}
.course-block .icon.video:before {
    background: rgba(0, 0, 0, 0) url("../img/icons/icon-video.png") no-repeat scroll center center / contain ;
}
.course-block .icon.sound:before {
    background: rgba(0, 0, 0, 0) url("../img/icons/icon-sound.png") no-repeat scroll center center / contain ;
}
.course-block .icon.speech:before {
    background: rgba(0, 0, 0, 0) url("../img/icons/icon-speech.png") no-repeat scroll center center / contain ;
}
.course-block .icon.final:before {
    background: rgba(0, 0, 0, 0) url("../img/icons/icon-quiz.png") no-repeat scroll center center / contain ;
}
.checked-course {
    height: 2.5em;
    width: 2.5em;
    display: flex;
    border-radius: 50%;
    position: absolute;
    justify-content: center;
    top: 1em;
    right: 2em;
    background-color: #fff;
    align-items: center;
}

textarea.materialize-textarea.p-0 {
    padding: 0;
}
.socials > div > a {
    background-color: #56bdbd;
    display: inline-block;
    border-radius: 50%;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    vertical-align: middle;
}
.socials > div > a .fa {
    color: #fff;
    font-size: 0.95em;
    line-height: 1.85em;
}
.course-socials > div > a {
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    height: 3.2em;
    text-align: center;
    vertical-align: middle;
    width: 3.2em;
}
.course-socials > div > a .fa {
    color: #fff;
    font-size: 1.8em;
    line-height: 1.8em;
}
.course-socials > div > a.facebook {
    background-color: #476b92;
}
.course-socials > div > a.twitter {
    background-color: #40b2d8;
}
.course-socials > div > a.google {
    background-color: #df6b6a;
}
.course-socials > div > a.whatsapp {
    background-color: #66bb86;
}
.course-socials > div > a.pocket {
    background-color: #e35b6d;
}
.course-socials > div > a.pinterest {
    background-color: #c5504e;
}
.course-socials > div > a:hover {
    opacity: .7;
}
.modal .modal-content {
    padding: 0;
}
.modal {
    background-color: #fff;
}
.modal.modal-fixed-footer .modal-content {
    background-color: #f0f5f3;
    height: calc(100% - 9.5em);
    max-height: 100%;
    overflow-y: auto;
    position: relative;
    width: 100%;
}
.modal.modal-fixed-footer .modal-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    top: 0;
    position: relative;
    width: 100%;
}
.modal-header .modal-close {
    line-height: 2rem;
    position: absolute;
    right: 0.7rem;
    top: 0.7rem;
}
.input-field {
    position: relative;
    margin-top: 0;
}

.select-wrapper input.select-dropdown {
    margin: 0;
    font-size: 1.2em;
    color: #6e7273;
}
.dee-fees {
    background-color: #272b2b;
    display: block;
    height: 2px;
    width: 4.3em;
}
.skill-bar {
    background-color: transparent;
    height: 1.5em;
    width: 3em;
}
.skill-bar span {
    border: 1px solid #56bdbd;
    background-color: transparent;
    width: 0.5rem;
}
.skill-bar span:first-child {
    height: 35%;
}
.skill-bar span:nth-child(2) {
    height: 60%;
}
.skill-bar span:nth-child(3) {
    height: 100%;
}
.skill-bar.skill-1 span:first-child {
    background-color: #56bdbd;
}
.skill-bar.skill-2 span:first-child {
    background-color: #56bdbd;
}
.skill-bar.skill-2 span:nth-child(2) {
    background-color: #56bdbd;
}
.skill-bar.skill-3 span {
    background-color: #56bdbd;
}
.info-sidebar > div:nth-child(odd) {
    background-color: #f0f5f3;
}
.info-sidebar > div:nth-child(even) {
    background-color: #e9f0ed;
}
#click-me {
    cursor: pointer;
    display: inline-block;
    padding-right: 2em;
    position: relative;
    width: 9em;
}
#click-me:hover {
    color: #222;
}
#click-me:before {
    content: '\f107';
    font-family: FontAwesome, sans-serif;
    position: absolute;
    top: -0.45em;
    right: 0;
    font-size: 2em;
    color: #adb1b4;
    z-index: 1;
}
#click-me:after {
    content: 'Show more';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#click-me:hover:before {
    color: #222;
}
#click-me.opened:before {
    content: '\f106';
    font-family: FontAwesome, sans-serif;
    position: absolute;
    top: -0.45em;
    right: 0;
    font-size: 2em;
    color: #adb1b4;
    z-index: 1;
}
#click-me.opened:after {
    content: 'Show less';
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
}
#click-me.opened:hover:after, #click-me.opened:hover:before {
    color: #222;
}
#show-toggle {
    display: none;
}
.avatar > img {
    max-width: 100%;
    max-height: 100%;
}
.profile-sidebar ul li a {
    padding: 1.5em 1.5em 1.5em 5em;
    font-size: 1.1em;
    display: block;
    color: #000;
    font-weight: 600;
}
.profile-sidebar ul li:nth-of-type(2n+1) {
    background-color: #f0f5f3;
}
.profile-sidebar ul li:nth-of-type(2n) {
    background-color: #e9f0ed;
}
.profile-sidebar ul li.active, .profile-sidebar ul li:hover {
    background-color: #56bdbd;
    transition: all ease-in-out 0.4s;
}
.profile-sidebar ul li.active a, .profile-sidebar ul li a:hover {
    color: #ffffff;
    transition: all ease-in-out 0.4s;
}
.sb-icon{
    position: relative;
}
.sb-icon:before {
    position: absolute;
    content: '';
    width: 26px;
    height: 30px;
    top: 18px;
    left: 25px;
    background-position: 100% 100%;
}
.profile-sidebar ul li .sb-icon.icon-data:before {
    background: url('../img/profile/profile-user.png') no-repeat center / cover;
}
.profile-sidebar ul li.active .sb-icon.icon-data:before, .profile-sidebar ul li .sb-icon.icon-data:hover:before {
    background: url('../img/profile/profile-user-active.png') no-repeat center / cover;
}
.profile-sidebar ul li .sb-icon.icon-password:before {
    background: url('../img/profile/profile-lock.png') no-repeat center / cover;
}
.profile-sidebar ul li.active .sb-icon.icon-password:before, .profile-sidebar ul li .sb-icon.icon-password:hover:before {
    background: url('../img/profile/profile-lock-active.png') no-repeat center / cover;
}
.profile-sidebar ul li .sb-icon.icon-social:before {
    background: url('../img/profile/profile-social.png') no-repeat center / cover;
    width: 28px;
}
.profile-sidebar ul li.active .sb-icon.icon-social:before, .profile-sidebar ul li .sb-icon.icon-social:hover:before {
    background: url('../img/profile/profile-social-active.png') no-repeat center / cover;
    width: 28px;
}
.profile-sidebar ul li .sb-icon.icon-plan:before {
    background: url('../img/profile/profile-clock.png') no-repeat center / cover;
    width: 30px;
    height: 30px;
}
.profile-sidebar ul li.active .sb-icon.icon-plan:before, .profile-sidebar ul li .sb-icon.icon-plan:hover:before {
    background: url('../img/profile/profile-clock-active.png') no-repeat center / cover;
    width: 30px;
    height: 30px;
}
.profile-sidebar ul li .sb-icon.icon-notification:before {
    background: url('../img/profile/profile-mail.png') no-repeat center /cover;
    top:21px;
    width: 30px;
    height: 24px;
}
.profile-sidebar ul li.active .sb-icon.icon-notification:before, .profile-sidebar ul li .sb-icon.icon-notification:hover:before {
    background: url('../img/profile/profile-mail-active.png') no-repeat center /cover;
    top:21px;
    width: 30px;
    height: 24px;
}
.bc-grey-olive {
    background-color: #e9f0ed;
}
.profile-progress {
    height: 6px;
}
.profile-progress, .profile-progress .determinate {
    border-radius: 6px;
}
.input-profile input::-webkit-input-placeholder, .input-profile textarea::-webkit-input-placeholder, .input-profile select::-webkit-input-placeholder {
    color: #a4a6a6;
}
.input-profile input::-moz-placeholder {
    color: #a4a6a6;
}
.input-profile input:-ms-input-placeholder {
    color: #a4a6a6;
}
.input-profile input:-moz-placeholder {
    color: #a4a6a6;
}
.input-profile .select-dropdown li.disabled>span {
    color: #a4a6a6;
}
.edit {
    content: '';
    background: url('../img/profile/pencil.svg') no-repeat center / cover;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    top: 7px;
    left: 8px;
}
.delete {
    content: '';
    background: url('../img/profile/delete.svg') no-repeat center / cover;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    top: 7px;
    left: 8px;
}
.not-active {
    opacity: 0.5;
}
.input-field label {
    font-size: 1.1rem;
}
.input-field input#textarea {
    height: 6em;
}
@media all and (min-width: 768px) {
    .mt-9em-sm{
        margin-top: 9em;
    }
}
@media all and (max-width: 770px) {
    .course-socials > div > a {
        background-color: transparent;
        border-radius: 50%;
        display: inline-block;
        height: 2.2em;
        text-align: center;
        vertical-align: middle;
        width: 2.2em;
    }
    .course-socials > div > a .fa {
        color: #fff;
        font-size: 1.3em;
        line-height: 1.8em;
    }

}
@media all and (max-width: 767px) {
    .mt-16em-xs{
        margin-top: 16em;
    }
    .modal.modal-fixed-footer .modal-content {
        height: calc(100% - 16em);
        max-height: 100%;
        overflow-y: auto;
        position: absolute;
        width: 100%;
    }
    .modal.modal-fixed-footer {
        padding: 0;
        height: 80%;
    }
}
@media (min-width: 767px) and (max-width: 1200px) {
    body  {
        font-size: 0.9em;
    }
}
.contact-form .name::before {
    background: rgba(0, 0, 0, 0) url("../img/icons/contact-name.png") no-repeat scroll center center / contain ;
    content: "";
    height: 2.5em;
    left: 0;
    position: absolute;
    top: 0.5em;
    width: 2.5em;
}
.contact-form .email::before {
    background: rgba(0, 0, 0, 0) url("../img/icons/contact-email.png") no-repeat scroll center center / contain ;
    content: "";
    height: 2.5em;
    left: 0;
    position: absolute;
    top: 0.5em;
    width: 2.5em;
}
.contact-form .company::before {
    background: rgba(0, 0, 0, 0) url("../img/icons/contact-company.png") no-repeat scroll center center / contain ;
    content: "";
    height: 2.5em;
    left: 0;
    position: absolute;
    top: 0.5em;
    width: 2.5em;
}
.contact-form .phone::before {
    background: rgba(0, 0, 0, 0) url("../img/icons/contact-phone.png") no-repeat scroll center center / contain ;
    content: "";
    height: 2.5em;
    left: 0;
    position: absolute;
    top: 0.5em;
    width: 2.5em;
}
.contact-form .message::before {
    background: rgba(0, 0, 0, 0) url("../img/icons/contact-message.png") no-repeat scroll center center / contain ;
    content: "";
    height: 2.5em;
    left: 0;
    position: absolute;
    top: 0.5em;
    width: 2.5em;
}
.button.past {
    pointer-events: none;
    cursor: default;
}
.owl-nav .owl-prev {
    position: absolute;
    top: 36%;
    left: -1.5em;
}
.owl-nav .owl-next {
    position: absolute;
    top: 36%;
    right: -1.5em;
}
.owl-theme .owl-nav [class*='owl-'],.owl-theme .owl-nav [class*='owl-']:hover {
    font-size: 50px;
    color:#8F919E;
    background: transparent;
}
.input-search input{
    background-color: #ececec;
    margin: 0 0 0 2em;
    padding: 0 50px;
    height: 2.3rem;
    font-size: 0.9rem;
}
.input-search input::-webkit-input-placeholder {
    color: #8D919D;
}
.icon-search {
    position: absolute;
    content: '';
    width: 23px;
    height: 21px;
    left: 40px;
    top: 6px;
    background: url('../img/search.png');
    background-size: 100% 100%;
}
@-webkit-keyframes tabsLevelShow {
    0% {
        opacity: 0;
        margin-top: 30px
    }
    50% {
        opacity: .5;
        margin-top: 10px
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes tabsLevelShow {
    0% {
        opacity: 0;
        margin-top: 30px
    }
    50% {
        opacity: .5;
        margin-top: 10px
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}
#tabs-container .tabs-outer .tab-container > div {
    display: none;
    transition: all .4s ease-in 0s;
}
#tabs-container .tabs-outer.active .tab-container > div {
    display: block;
    animation: tabsLevelShow 0.4s ease-out forwards;
    -webkit-animation: tabsLevelShow 0.4s ease-out forwards;
}
.tabs {
    background-color: transparent;
}
.tabs .tab {
    margin-right: 2em;
}
.tabs .tab a {
    color: #272b2b;
    display: block;
    font-size: 14px;
    height: 100%;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    transition: color 0.28s ease 0s;
    width: 100%;
}
.tabs .tab a.active, .tabs .tab a:hover, .tabs .tab a:focus {
    outline: none;
    color: #fff;
}
.pr-navigation .tabs .tab a.active, .tabs .tab a:hover, .tabs .tab a:focus {
    outline: none;
    color: #fff;
    border-bottom: 2px solid #000;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #000;
    will-change: left, right;
}
.pr-navigation .tabs {
    min-height: 60px;
}
.pr-navigation .tabs .tab {
    display: inline-block;
    position: relative;
    height: 60px;
    line-height: 60px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
.pr-navigation .tabs .tab.new-item:after {
    content: '\f06a';
    font-family: FontAwesome, sans-serif;
    color: #ff0000;
    position: absolute;
    top: -1em;
    right: -0.5em;
    font-size: 1.3em;
    z-index: 1;
}
@media all and (max-width: 560px) {
    .tabs {
        position: relative;
        overflow: hidden;
        height: auto;
        width: 100%;
        margin: 0 auto;
        white-space: pre-line;
        display: block;
    }
    .pr-navigation .tabs .tab {
        height: 30px;
        line-height: 30px;
    }
}
.input-search-result input {
    background-color: #ffffff;
    margin: 0;
    height: 2.8rem;
    text-indent: 50px;
    font-size: 0.9rem;
    color: #000;
}
.icon-search-result {
    position: absolute;
    content: '';
    width: 26px;
    height: 26px;
    left: 13px;
    top: 6px;
    background: url('../img/search-result-icon.png');
    background-size: 100% 100%;
}
ol.help-list {
    list-style-type: disc;
    margin: 0;
    padding: 0 0 0 1em;
}
ol.list-style-decimal {
    list-style-type: decimal;
    margin: 0;
    padding: 0 0 0 1em;
}
.help-list li {
    padding: 0.9em 0;
    font-family: 'Poppins-SemiBold', sans-serif;
}
hr.hr-2-left {
    height: 2px;
    margin-left: 0;
    border: none;
}
#countDownBlock > div {
    padding: 0.3em;
    height: 9em;
    width: 9em;
}
#countDownBlock > div > div {
    height:  100%;
    padding-top: 0.8em;
    background-color: #fff;
}
#countDownBlock > div > div > div:first-child {
    background-color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3.5em;
    font-family: 'Poppins-SemiBold', sans-serif;
    width: 100%;
}
#countDownBlock > div > div > div:last-child {
    background-color: #fff;
    text-transform: uppercase;
    color: #676a6b;
    font-size: 0.8em;
    font-family: 'Poppins-SemiBold', sans-serif;
    display: block;
    width: 100%;
}
.map iframe {
    width: 100%!important;
    height: 100%!important;
}
video {
    max-width: 100%!important;
    height: auto!important;
    background-color: #5a5a5a;
}
.text-indent-2em {
    text-indent: 2em;
}
.reviews-buttons > div {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 5em;
}
.reviews-buttons > div:hover {
    color: #5E5E5E;
}
.reviews-buttons > div:nth-child(2):after {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: #333;
    transform: translateY(-50%);
}
.reviews-buttons > div:first-child:hover:after {
    color: #5E5E5E;
}
.switch .fa {
    font-size: 1.5em;
}
.reviews-block .input-field label {
    color: #333;
    cursor: text;
    font-size: 1rem;
    left: 0;
    position: absolute;
    text-align: initial;
    top: 0.8rem;
    transition: all 0.2s ease-out 0s;
}
.answer-block {
    display: none;
}
.show-answer:after {
    content: 'Respond';
    top: 0;
    left: 0;
    z-index: 1;
}
.show-answer:hover:before {
    color: #222;
}
.show-answer.clicked {
    padding-left: 2em;
    width: 12em;
}
.show-answer.clicked:before {
    content: '\f00d';
    font-family: FontAwesome, sans-serif;
    position: absolute;
    top: -0.25em;
    left: 0;
    font-size: 1.3em;
    color: #adb1b4;
    z-index: 1;
}
.show-answer.clicked:after {
    content: 'Cancel respond';
    top: 0;
    left: 0;

    z-index: 1;
}
.button-clicked .delete-answer {
    display: none;
}
#moreReviews {
    display: none;
}
#showReviews {
    display: block;
}
.discussion-items .tab-item-outer {
    border: 2px solid;
    border-right: 0;
}
.tab-item-outer .tab-item {
    border-right: 0 solid #dfe6e4;
    cursor: pointer;
    position: relative;
}
.tab-item-outer .tab-item.new-discus > div:after {
    content: '\f06a';
    font-family: FontAwesome, sans-serif;
    color: #ff0000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5em;
    font-size: 1.3em;
    z-index: 1;
}
.tab-item-outer .tab-item:not(:last-child) {
    border-bottom: 2px solid #dfe6e4;
}

.tab-item-outer .tab-item.active:before {
    content: '';
    height: 100%;
    width: 0.5em;
    background-color: #56bdbd;
    top: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}
.tab-item-outer .tab-item.active:after {
    content: '';
    height: 100%;
    width: 4px;
    top: 0;
    position: absolute;
    background-color: #fff;
    right: -3px;
    bottom: 0;
    z-index: 10;
}
.reviews-article {
    border: 2px solid #dfe6e4;
}
.reviews-article .reviews-item-description {
    position: relative;
}
.reviews-article .reviews-item-description:before {
    content: '';
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background-color: #ff0000;
    position: absolute;
    left: 3.5em;
    top: 1.3em;
}
#mb-tabs .content .tab-cont{
    display: none;
}
#mb-tabs .content .tab-cont.active{
    display: block;
    animation: tabsLevelShow 0.4s ease-out forwards;
    -webkit-animation: tabsLevelShow 0.4s ease-out forwards;
}
.content-editor {
    outline: none;
}
.site-input:before {
    content: '\f0ac';
    font-family: FontAwesome, sans-serif;
    color: #56bdbd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-size: 3em;
    z-index: 1;
}
.facebook-input:before {
    content: '\f082';
    font-family: FontAwesome, sans-serif;
    color: #56bdbd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-size: 3em;
    z-index: 1;
}
.google-input:before {
    content: '\f0d4';
    font-family: FontAwesome, sans-serif;
    color: #56bdbd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-size: 3em;
    z-index: 1;
}
.twitter-input:before {
    content: '\f081';
    font-family: FontAwesome, sans-serif;
    color: #56bdbd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-size: 3em;
    z-index: 1;
}