<?php
/**
 * @var \Application\Entity\Subscription\SubscriptionPackage $package
 */
?>
<div class="col-xs-12 col-sm-6 mb-2em">
    <div class="flex column space-between center br-2 br-light-gray p-2em-xs p-2em-sm p-3em-md h100">
        <div class="pb-2em"><img src="<?php echo $this->basePath(
                'themes/engage/img/profile/star.svg'
            ); ?>" alt=""></div>
        <div class="pb-0_5em">
            <div class="size-1_2em c-black f-bold"><?php echo $package->getName(); ?></div>
        </div>
        <div class="size-1em c-darkgrey f-medium">Fully functional account including all premium features</div>
        <div class="mt-2em mb-2em">
            <div class="flex center items-center height-6em">
                <div class="size-2em c-black f-bold w100">
                    $<?php echo $package->getPrice(); ?>/
                    <?php echo
                        $this->periodHelper()->getConstValues($package->getPeriod()->getValue());
                    ?>
                </div>
                <div class="size-1em c-darkgrey w100">(billed annually)</div>
            </div>
        </div>
        <div class="pb-2em">
            <div class="pb-0_5em">
                <div class="size-1_2em"><i class="fa fa-check pr-0_5em c-green" aria-hidden="true"></i>Advantage item number one</div>
            </div>
            <div class="pb-0_5em">
                <div class="size-1_2em"><i class="fa fa-check pr-0_5em c-green" aria-hidden="true"></i>Advantage item number two</div>
            </div>
            <div class="pb-0_5em">
                <div class="size-1_2em"><i class="fa fa-check pr-0_5em c-green" aria-hidden="true"></i>Advantage item number free</div>
            </div>
            <div class="pb-0_5em">
                <div class="size-1_2em"><i class="fa fa-check pr-0_5em c-green" aria-hidden="true"></i>Advantage item number four</div>
            </div>
        </div>
        <div class="">
            <button type="button" data-href="<?= $this->url('payment/action', ['action' => 'confirmation']);?>" class="button button-green-out up">Upgrade to premium</button>
        </div>
    </div>
</div>