<div class="pb-3em">
    <div class="col-sm-12">
        <video width="100%" height="270" controls="controls">
            <source src="<?= $item->getVideo() ?>" type="video/mp4">
            <source src="<?= $item->getVideo() ?>" type="video/ogg">
            <source src="<?= $item->getVideo() ?>" type="video/webm">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<div class="flex">
    <div class="text-left c-grey">
        <p><?= $item->getDescription() ?></p>
    </div>
</div>
