<?php
use Application\View\Helper\NamedDateFormat;
?>
<main class="mn-inner">
    <div class="row">
        <div class="col s12">
            <div class="page-title">Payment transactions</div>
        </div>
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <table id="example" class="display responsive-table datatable-example">
                        <thead>
                        <tr>
                            <th>Order</th>
                            <th>User</th>
                            <th>Transaction</th>
                            <th>Transaction time</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Order</th>
                            <th>User</th>
                            <th>Transaction</th>
                            <th>Transaction time</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                        </tfoot>

                        <tbody>
                        <?php if ($payments) : ?>
                        <?php foreach ($payments as $payment) : ?>
                        <tr>
                            <td><?= $payment->getOrder() ?></td>
                            <td><?= $payment->getUser()->getFullName() ?></td>
                            <td><?= $payment->getTransaction() ?></td>
                            <td><?= $this->namedDateFormat($payment->getTransactionTime())->getDateFormat(NamedDateFormat::FORMAT_MEDIUM_DATETIME); ?></td>
                            <td><?= $payment->getAmount() ?></td>
                            <td><?= $payment->getStatus()->getValue() ?></td>
                        </tr>
                        <?php endforeach; ?>
                        <?php endif; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>