<?php
$this->headTitle('New User');

$form = $this->form;

$form->get('email')->setAttributes([
    'placeholder'=>'Email'
]);

$form->get('fullName')->setAttributes([
    'placeholder'=>'Full name'
]);

$form->get('birthday')->setAttributes([
    'class'=>'datepicker',
    'placeholder'=>'Birthday'
]);

$form->get('timezone')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Enter timezone'
])->setValueOptions(
    $this->selectOptionsHelper()->getTimezonesList()
);

$form->get('timezone')->setAttributes([
    'placeholder'=>'Timezone'
]);
$form->get('description')->setAttributes([
    'placeholder'=>'Description',
    'class'=>'materialize-textarea'
]);

$form->get('sex')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Sex'
]);

$form->get('type')->setAttributes([
    'class'=>'form-control',
]);

$form->get('state')->setAttributes([
    'class'=>'form-control'
]);

$form->get('avatar')->setAttributes([
    'class'=>'file-loading',
    'multiple'=>false,
]);

$form->get('password')->setAttributes([
    'placeholder'=>'Password'
]);

$form->get('submit')->setAttributes(['class'=>'waves-effect waves-light btn green m-b-xs']);
$form->get('submit')->setValue('Create');
$form->prepare();

?>


<main class="mn-inner">
    <div class="page-title">User</div>
    <div class="mt-2em">
        <?php echo $this->form()->openTag($form); ?>
        <div class="flex-1em w100">
            <div class="col-xs-12 col-sm-8">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Personal data</span>

                        <div class="flex-1em child-col-sm-6 child-col-md-4 child-col-xs-12">
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('fullName')); ?>
                                <?php echo $this->formElementErrors($form->get('fullName')); ?>
                            </div>
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('email')); ?>
                                <?php echo $this->formElementErrors($form->get('email')); ?>
                            </div>
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('type')); ?>
                                <?php echo $this->formElementErrors($form->get('type')); ?>
                            </div>
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('birthday')); ?>
                                <?php echo $this->formElementErrors($form->get('birthday')); ?>
                            </div>
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('address')); ?>
                                <?php echo $this->formElementErrors($form->get('address')); ?>
                            </div>
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('sex')); ?>
                                <?php echo $this->formElementErrors($form->get('sex')); ?>
                            </div>
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('timezone')); ?>
                                <?php echo $this->formElementErrors($form->get('timezone')); ?>
                            </div>
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('password')); ?>
                                <?php echo $this->formElementErrors($form->get('password')); ?>
                            </div>
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('state')); ?>
                                <?php echo $this->formElementErrors($form->get('state')); ?>
                            </div>
                        </div>
                        <div>
                            <div class="input-field">
                                <?php echo $this->formElement($form->get('description')); ?>
                                <?php echo $this->formElementErrors($form->get('description')); ?>
                                <!--                                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>-->
                                <!--                                    <label for="icon_prefix2">About</label>-->
                            </div>
                        </div>
                        <div class="pt-2em flex-0_5em flex-end">
                            <div>
                                <?php echo $this->formElement($form->get('submit')); ?>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Avatar</span>
                        <div class="pb-1em text-center">
                            <?php echo $this->formElement($form->get('avatar')); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</main>

<script>
    $(function(){
        $.fileInputEngage.initBackend({
            selector : "#avatar"
        });
    });
</script>





