<?php
$this->headTitle('Edit User');

$form = $this->form;

$form->get('email')->setAttributes([
    'placeholder'=>'Email'
]);

$form->get('fullName')->setAttributes([
    'placeholder'=>'Full name'
]);

$form->get('birthday')->setAttributes([
    'class'=>'datepicker',
    'placeholder'=>'Birthday'
]);

$form->get('address')->setAttributes([
    'placeholder'=>'Address'
]);

$form->get('timezone')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Enter timezone'
])->setValueOptions(
    $this->selectOptionsHelper()->getTimezonesList()
);

$form->get('description')->setAttributes([
    'placeholder'=>'Description',
    'class'=>'materialize-textarea'
]);
$form->get('sex')->setAttributes([
    'placeholder'=>'Sex'
]);
$form->get('type')->setAttributes([
    'class'=>'form-control',
]);
$form->get('state')->setAttributes([
    'class'=>'form-control'
]);
$form->get('avatar')->setAttributes([
    'class'=>'file-loading',
    'multiple'=>false,
]);
$form->get('submit')->setAttributes(['class'=>'waves-effect waves-light btn green m-b-xs']);
$form->get('submit')->setValue('Save');

$form->prepare();

?>


<main class="mn-inner">
    <div class="page-title">User</div>
    <div>
        <ul class="tabs tab-demo z-depth-1" style="width: 100%;">
            <li class="tab col s3"><a href="#t1" class="">Personal Data</a></li>
            <li class="tab col s3"><a class="" href="#t2">Social Data</a></li>
            <li class="tab col s3"><a href="#t3">Change password</a></li>
        </ul>
    </div>
    <div class="mt-2em">
        <div id="t1">
            <?php echo $this->form()->openTag($form); ?>
            <div class="flex-1em">
                <div class="col-xs-8 col-sm-8">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Personal data</span>

                            <div class="flex-1em child-col-sm-6 child-col-md-4 child-col-xs-12">
                                <div class="input-field">
                                    <?php echo $this->formElement($form->get('fullName')); ?>
                                    <?php echo $this->formElementErrors($form->get('fullName')); ?>
                                </div>
                                <div class="input-field">
                                    <?php echo $this->formElement($form->get('email')); ?>
                                    <?php echo $this->formElementErrors($form->get('email')); ?>
                                </div>
                                <div class="input-field">
                                    <?php echo $this->formElement($form->get('type')); ?>
                                    <?php echo $this->formElementErrors($form->get('type')); ?>
                                </div>
                                <div class="input-field">
                                    <?php echo $this->formElement($form->get('birthday')); ?>
                                    <?php echo $this->formElementErrors($form->get('birthday')); ?>
                                </div>
                                <div class="input-field">
                                    <?php echo $this->formElement($form->get('address')); ?>
                                    <?php echo $this->formElementErrors($form->get('address')); ?>
                                </div>
                                <div class="input-field">
                                    <?php echo $this->formElement($form->get('sex')); ?>
                                    <?php echo $this->formElementErrors($form->get('sex')); ?>
                                </div>
                                <div class="input-field">
                                    <?php echo $this->formElement($form->get('timezone')); ?>
                                    <?php echo $this->formElementErrors($form->get('timezone')); ?>
                                </div>
                                <div class="input-field">
                                    <?php echo $this->formElement($form->get('state')); ?>
                                    <?php echo $this->formElementErrors($form->get('state')); ?>
                                </div>
                            </div>
                            <div>
                                <div class="input-field">
                                    <?php echo $this->formElement($form->get('description')); ?>
                                    <?php echo $this->formElementErrors($form->get('description')); ?>
                                    <!--                                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>-->
                                    <!--                                    <label for="icon_prefix2">About</label>-->
                                </div>
                            </div>
                            <div class="pt-2em flex-0_5em flex-end">
                                <div>
                                    <?php echo $this->formElement($form->get('submit')); ?>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Avatar</span>
                            <div class="pb-1em text-center">
                                <?php echo $this->formElement($form->get('avatar')); ?>
                            </div>
                        </div>
                    </div>
                </div>
                <?php echo $this->form()->closeTag(); ?>
            </div>
            <div id="t2">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Social data</span>
                        <form>
                            <div class="child-pb-1_5em child-pt-1_5em child-borders">
                                <div>
                                    <div class="flex-1em space-between items-center">
                                        <div>
                                            Facebook account
                                        </div>
                                        <div>
                                            <div class="switch">
                                                <label>
                                                    Off
                                                    <input type="checkbox" checked>
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="flex-1em space-between items-center">
                                        <div>
                                            Google account
                                        </div>
                                        <div>
                                            <div class="switch">
                                                <label>
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2em flex-0_5em flex-end">
                                <div>
                                    <a class="waves-effect waves-light btn white m-b-xs">Cancel</a>
                                </div>
                                <div>
                                    <a class="waves-effect waves-light btn green m-b-xs">Save</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="t3">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Change password</span>
                        <form>
                            <div class="flex-1em child-col-sm-6 child-col-md-4 child-col-xs-12">
                                <div class="input-field">
                                    <input id="current_password" type="password" class="validate">
                                    <label for="current_password">Current password</label>
                                </div>
                                <div class="input-field">
                                    <input id="new_password" type="password" class="validate">
                                    <label for="new_password">New password</label>
                                </div>
                                <div class="input-field">
                                    <input id="confirm_password" type="password" class="validate">
                                    <label for="confirm_password">Confirm password</label>
                                </div>
                            </div>
                            <div class="pt-2em flex-0_5em flex-end">
                                <div>
                                    <a class="waves-effect waves-light btn white m-b-xs">Cancel</a>
                                </div>
                                <div>
                                    <a class="waves-effect waves-light btn green m-b-xs">Save</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</main>




<!---->
<!--<section class="bc-white pt-4_5em pb-8em">-->
<!--    <div class="container">-->
<!--        <div class="flex-2em">-->
<!--            <div class="col-xs-12 col-sm-8">-->
<!--                <div class="pb-2em flex">-->
<!--                    <div class="size-1_3em up c-black f-bold title-lines-left">Edit User: --><?php //$form->get('fullName')->getValue(); ?><!--</div>-->
<!--                </div>-->
<!---->
<!--                --><?php //$this->form()->openTag($form); ?>
<!---->
<!--                <div class="flex-1em">-->
<!--                    <div class="col-xs-12 col-sm-12">-->
<!--                        <div class="col-xs-12 col-sm-6">-->
<!--                            <div class="pt-1em">-->
<!--                                <div class="size-1em c-grey-input f-bold">--><?php //$this->formLabel($form->get('email')); ?><!--</div>-->
<!--                            </div>-->
<!--                            <div class="input-field input-profile">-->
<!--                                --><?php //$this->formElement($form->get('email')); ?>
<!--                                --><?php //$this->formElementErrors($form->get('email')); ?>
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!---->
<!--                    <div class="col-xs-12 col-sm-12">-->
<!--                        <div class="col-xs-12 col-sm-6">-->
<!--                            <div class="pt-1em">-->
<!--                                <div class="size-1em c-grey-input f-bold">--><?php //$this->formLabel($form->get('fullName')); ?><!--</div>-->
<!--                            </div>-->
<!--                            <div class="input-field input-profile">-->
<!--                                --><?php //$this->formElement($form->get('fullName')); ?>
<!--                                --><?php //$this->formElementErrors($form->get('fullName')); ?>
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!---->
<!--                    <div class="col-xs-12 col-sm-12">-->
<!--                        <div class="col-xs-12 col-sm-6">-->
<!--                            <div class="pt-1em">-->
<!--                                <div class="size-1em c-grey-input f-bold">--><?php //$this->formLabel($form->get('birthday')); ?><!--</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="pt-2em flex-0_5em flex-end">-->
<!--                            <div>-->
<!--                                <a class="waves-effect waves-light btn green m-b-xs">Save</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
</div>
</div>
</div>
<div id="t3">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Change password</span>
            <!--                    --><?php //echo $pass->form()->openTag($pass); ?>
            <!--                        <div class="flex-1em child-col-sm-6 child-col-md-6 child-col-xs-12">-->
            <!--                            <div class="input-field">-->
            <!--                                --><?php //echo $pass->formElement($pass->get('new_password')); ?>
            <!--                                --><?php //echo $pass->formElementErrors($pass->get('new_password')); ?>
            <!--                                <label>New password</label>-->
            <!--                            </div>-->
            <!--                            <div class="input-field input-profile">-->
            <!--                                --><?php //$this->formElement($form->get('address')); ?>
            <!--                                --><?php //$this->formElementErrors($form->get('address')); ?>
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!---->
            <!--                    <div class="col-xs-12 col-sm-12">-->
            <!--                        <div class="col-xs-12 col-sm-6">-->
            <!--                            <div class="pt-1em">-->
            <!--                                <div class="size-1em c-grey-input f-bold">--><?php //$this->formLabel($form->get('timezone')); ?><!--</div>-->
            <!--                            </div>-->
            <!--                            <div class="input-field input-profile">-->
            <!--                                --><?php //$this->formElement($form->get('timezone')); ?>
            <!--                                --><?php //$this->formElementErrors($form->get('timezone')); ?>
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!---->
            <!--                    <div class="col-xs-12 col-sm-12">-->
            <!--                        <div class="col-xs-12 col-sm-6">-->
            <!--                            <div class="pt-1em">-->
            <!--                                <div class="size-1em c-grey-input f-bold">--><?php //$this->formLabel($form->get('sex')); ?><!--</div>-->
            <!--                            </div>-->
            <!--                            <div class="input-field input-profile">-->
            <!--                                --><?php //$this->formElement($form->get('sex')); ?>
            <!--                                --><?php //$this->formElementErrors($form->get('sex')); ?>
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!---->
            <!--                    <div style="display:none">-->
            <!--                    --><?php //$this->formElement($form->get('type')); ?>
            <!--                    </div>-->
            <!---->
            <!--                    <div class="col-xs-12 col-sm-12">-->
            <!--                        <div class="col-xs-12 col-sm-6">-->
            <!--                            <div class="pt-1em">-->
            <!--                                <div class="size-1em c-grey-input f-bold">--><?php //$this->formLabel($form->get('state')); ?><!--</div>-->
            <!--                            </div>-->
            <!--                            <div class="input-field input-profile">-->
            <!--                                --><?php //$this->formElement($form->get('state')); ?>
            <!--                                --><?php //$this->formElementErrors($form->get('state')); ?>
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!---->
            <!--                    <div class="pt-2em">-->
            <!--                        --><?php //$this->formElement($form->get('submit')); ?>
            <!--                    </div>-->
            <!--                </div>-->
            <!---->
            <!--                --><?php //$this->form()->closeTag(); ?>
            <!---->
            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</section>-->

            <script>
                $(function(){
                    $.fileInputEngage.initBackend({
                        selector : "#avatar",
                        activeImgSrc: "<?= $this->basePath($this->image($user->getAvatar())->getImgSrc()) ?>",
                        caption: "<?= $user->getAvatar() ? $user->getAvatar()->getFileName() : "" ?>",
                        size: "<?= $user->getAvatar() ? $user->getAvatar()->getSize() : "" ?>"
                    });
                });
            </script>

            <!--                        <div class="pt-2em flex-0_5em flex-end">-->
            <!--                            <div>-->
            <!--                                --><?php //echo $pass->formElement($pass->get('submit')); ?>
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    --><?php //$pass->form()->closeTag(); ?>
        </div>
    </div>
</div>
</div>
</main>