<?php
$this->headTitle('Send Mail');

$form = $this->form;

$form->get('mail-body')->setAttributes([
   'class'=>'editor',
   'placeholder'=>'Mail Body'
                                   ]);
$form->get('submit')->setAttributes(['class'=>'waves-effect waves-light btn green m-b-xs']);
$form->get('submit')->setValue('Send');
$form->prepare();

?>

<main class="mn-inner">
    <div class="page-title">Send Mail</div>
    <div class="mt-2em">
        <h5><?php echo $this->flashMessenger()->render();?></h5>
        <?php echo $this->form()->openTag($form); ?>
        <div class="flex-1em w100">
            <div class="col-xs-12 col-sm-12">
                <div class="card">
                    <div class="card-content">

                        <div class="flex-1em child-col-sm-12 child-col-xs-12">
                            <?php foreach ($form as $element):?>
                            <?php if ($element->getAttribute('id') == 'submitbutton'):?>

                        </div>
                        <div class="pt-2em flex-0_5em flex-end">
                            <?= $this->formElement($element); ?>
                        </div>
                        <?php continue; ?>
                        <?php endif;?>
                        <div class="input-field">
                            <?= $this->formElement($element); ?>
                            <?= $this->formElementErrors($element); ?>
                        </div>
                        <?php endforeach;?>
                    </div>
                </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
    <p> <a href="<?php echo $this->url('backend/migartion_users'); ?>">Migration users to Mailchimp</a> </p>
</main>
