<?php
$this->headTitle('Migration Users');
?>

<main class="mn-inner">
    <div class="page-title">Migration Users Success</div>
    <div class="mt-2em">
        <h3>Ok</h3>
        <p> <a href="<?php echo $this->url('backend/mail'); ?>">Back to Send Mail</a> </p>
    </div>
</main>
