<?php
/**
 * @var \Application\View\Renderer $this
 * @var \Zend\Navigation\Page\AbstractPage $page
 */
?>

<?php if ($this->container): ?>
    <?php foreach ($this->container as $course): ?>
        <div class="col-xs-12 col-sm-4 col-md-2 bc-dark-gray course-sidebar">
        <div class="p-2_5em">
            <div class="pb-2em c-lightgrey up">Course</div>
            <div class="size-1_2em"><?= $course->getLabel() ?></div>

            <?php if($course->institution){ ?>
                <div class=" size-0_9em c-green">by <?= $course->institution ?></div>
            <?php } ?>
        </div>
        <div class="p-2em flex nowrap items-center progress-block">
            <div class="progress pr-0_3em">
                <div class="determinate" style="width: <?= $course->progress ?>"></div>
            </div>
            <div><?= $course->progress ?></div>
        </div>
        <div class="side-chapter student-ai">
        <ul class="collapsible" data-collapsible="accordion">

        <?php $children_chapters = $course->getPages(); ?>
        <?php if ($children_chapters): ?>
            <?php $i = 1; ?>
            <?php foreach ($children_chapters as $chapter): ?>

            <li>
                <div class="collapsible-header pl-2em size-1_1em <?php if ($chapter->isActive()){echo 'active';}?>">
                    <a href="<?php echo $chapter->getHref(); ?>">
                        Chapter <?= $i ?>
                    </a>
                </div>
                <div class="collapsible-body checked size-1_1em">
                <?php $children_items = $chapter->getPages(); ?>
                <?php if ($children_items): ?>
                    <?php foreach ($children_items as $item): ?>
                        <div class="pos-rel">
                            <a href="<?php echo $item->getHref(); ?>"
                               class="<?php if ($item->isActive()){echo 'active-issue';}?>">
                                <?= $item->typeName ?>
                            </a>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
                </div>
            </li>
            <?php endforeach; ?>
        <?php endif; ?>

            </ul>
        </div>
    </div>
    <?php endforeach; ?>
<?php endif; ?>