<div class="col-xs-12 col-sm-4">
    <div class="mb-2em">
        <div class="profile-sidebar">
            <?php if ($this->container): ?>
                <ul>
                    <?php foreach ($this->container as $page): ?>
                        <li class="<?php if ($page->isActive()){echo 'active';} ?>">
                            <a href="<?php echo $page->getHref(); ?>" class="sb-icon <?= $page->iconClass; ?>"><?= $page->getLabel() ?></a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
        </div>
        <div class="flex column center bc-grey-olive p-1em">
            <div class="pt-1em pb-1em">
                <a href="<?= $this->url('personal-office/delete-account') ?>" class="button button-green">Delete account</a>
            </div>
        </div>
    </div>
    <div class="bc-grey-olive p-2em">
        <div class="pb-0_5em">
            <div class="size-1em c-black f-bold">Account completeness</div>
        </div>
        <div class="flex space-between">
            <div class="col-sm-10 col-xs-10">
                <div class="progress profile-progress">
                    <div class="determinate" style="width: 50%"></div>
                </div>
            </div>
            <div class="col-sm-2 xol-xs-2 text-right">
                <div class="size-1em c-green f-bold">50%</div>
            </div>
        </div>
    </div>
</div>