<?php echo $this->headScript()
    ->appendFile($this->basePath('/themes/admin/plugins/jquery-blockui/jquery.blockui.js'))
    ->appendFile($this->basePath('/themes/admin/plugins/waypoints/jquery.waypoints.min.js'))
    ->appendFile($this->basePath('/themes/admin/plugins/counter-up-master/jquery.counterup.min.js'))
    ->appendFile($this->basePath('/themes/admin/plugins/jquery-sparkline/jquery.sparkline.min.js'))
    ->appendFile($this->basePath('/themes/admin/plugins/chart.js/chart.min.js'))
    ->appendFile($this->basePath('/themes/admin/plugins/flot/jquery.flot.min.js'))
    ->appendFile($this->basePath('/themes/admin/plugins/flot/jquery.flot.time.min.js'))
    ->appendFile($this->basePath('/themes/admin/plugins/flot/jquery.flot.symbol.min.js'))
    ->appendFile($this->basePath('/themes/admin/plugins/flot/jquery.flot.resize.min.js'))
    ->appendFile($this->basePath('/themes/admin/plugins/flot/jquery.flot.tooltip.min.js'))
    ->appendFile($this->basePath('/themes/admin/plugins/curvedlines/curvedLines.js'))
    ->appendFile($this->basePath('/themes/admin/plugins/peity/jquery.peity.min.js'))
    ->appendFile($this->basePath('/themes/admin/js/pages/dashboard.js'))
//        ->appendFile($this->basePath('/themes/admin/js/plugins/angular.min.js'))
?>
<div class="mn-content fixed-sidebar">
    <main class="mn-inner inner-active-sidebar">
        <div class="middle-content">
            <div class="flex-1em child-col-sm-6 child-col-md-4 child-col-xs-12">
                <div>
                    <div class="card stats-card">
                        <div class="card-content">
                            <div class="card-options">
                                <ul>
                                    <li class="red-text"><a href="/backend/users/"><span class="badge cyan lighten-1">More</span></a></li>
                                </ul>
                            </div>
                            <span class="card-title">Users</span>
                            <span class="stats-counter"><span class="counter">40</span><small>registrations</small></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card stats-card">
                        <div class="card-content">
                            <div class="card-options">
                                <ul>
                                    <li class="red-text"><a href="/backend/courses/"><span class="badge cyan lighten-1">More</span></a></li>
                                </ul>
                            </div>
                            <span class="card-title">Courses</span>
                            <span class="stats-counter"><span class="counter">55</span><small>items</small></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card stats-card">
                        <div class="card-content">
                            <div class="card-options">
                                <ul>
                                    <li class="red-text"><a href="/backend/static-pages/"><span class="badge cyan lighten-1">More</span></a></li>
                                </ul>
                            </div>
                            <span class="card-title">Static pages</span>
                            <span class="stats-counter"><span class="counter">4</span><small>pages</small></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card stats-card">
                        <div class="card-content">
                            <div class="card-options">
                                <ul>
                                    <li class="red-text"><a href="/backend/events/"><span class="badge cyan lighten-1">More</span></a></li>
                                </ul>
                            </div>
                            <span class="card-title">Offline events</span>
                            <span class="stats-counter"><span class="counter">7</span><small>events</small></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card stats-card">
                        <div class="card-content">
                            <div class="card-options">
                                <ul>
                                    <li class="red-text"><a href="/backend/questions/"><span class="badge cyan lighten-1">More</span></a></li>
                                </ul>
                            </div>
                            <span class="card-title">Q&A</span>
                            <span class="stats-counter"><span class="counter">15</span><small>questions</small></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card stats-card">
                        <div class="card-content">
                            <div class="card-options">
                                <ul>
                                    <li class="red-text"><a href="/backend/blog/"><span class="badge cyan lighten-1">More</span></a></li>
                                </ul>
                            </div>
                            <span class="card-title">Blog</span>
                            <span class="stats-counter"><span class="counter">22</span><small>posts</small></span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card visitors-card">
                    <div class="card-content">
                        <div class="card-options">
                            <ul>
                                <li><a href="javascript:void(0)" class="card-refresh"><i class="material-icons">refresh</i></a></li>
                            </ul>
                        </div>
                        <span class="card-title">Visitors<span class="secondary-title">Showing stats from the last week</span></span>
                        <div id="flotchart1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner-sidebar">
            <span class="inner-sidebar-title">Last registrations</span>
            <div class="message-list pb-2em">
                <div class="info-item message-item"><img class="circle" src="<?php echo $this->basePath('/themes/admin/images/profile-image-2.png') ?>" alt=""><div class="message-info"><div class="message-author">Ned Flanders</div><small>3 hours ago</small></div></div>
                <div class="info-item message-item"><img class="circle" src="<?php echo $this->basePath('/themes/admin/images/profile-image.png') ?>" alt=""><div class="message-info"><div class="message-author">Peter Griffin</div><small>4 hours ago</small></div></div>
                <div class="info-item message-item"><img class="circle" src="<?php echo $this->basePath('/themes/admin/images/profile-image-1.png') ?>" alt=""><div class="message-info"><div class="message-author">Lisa Simpson</div><small>2 days ago</small></div></div>
            </div>
            <div class="sidebar-radar-chart display-none"><canvas id="radar-chart" width="170" height="140"></canvas></div>
        </div>
    </main>

</div>
